.input_text {
    min-width: max-content;
}

.input_draft_text {
    min-width: max-content;
    background-color: #FAFFBD;
    padding-top: 4px;
    padding-bottom: 4px;
}

.slds-backdrop {
    margin-left: -100px;
    min-width: 120%;
}
