<template>
    <div class={styleClass} onclick={handleOpenModal}>
        <template if:true={selectedOption}>
            {selectedOption}
        </template>
        <template if:false={selectedOption}>
            &nbsp;
        </template>
    </div>
    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                 aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    {fieldLabel}
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            onclick={handleCloseModal} title="Close">
                        <lightning-icon alternative-text="close"
                                        icon-name="utility:close"
                                        size="xx-large"
                                        role="button"
                                        variant="inverse"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <lightning-radio-group name="radioGroup"
                                           variant="label-hidden"
                                           options={options}
                                           onchange={handleChange}
                                           value={selectedOption}
                                           type="radio">
                    </lightning-radio-group>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>