<template>


    <template for:each={inputFields} for:item="inputField" for:index="index">
        <div key={inputField.fieldAPIName} class="slds-grid slds-wrap main-container">
            <div class="slds-col slds-size_12-of-12">
                <template if:true={inputField.uniqueIdField} >
                    <lightning-input
                            type={inputField.inputType}
                            value={inputField.inputValue}
                            name={inputField.fieldAPIName}
                            placeholder={inputField.fieldLabel}
                            variant="label-hidden"
                            class="uniqueId custom-input"
                            required
                            onblur={validateUniqueId}
                            onchange={handleInputChange}
                            message-when-value-missing={inputField.missingMessage}></lightning-input>
                </template>
                <template if:false={inputField.uniqueIdField} >
                    <template if:true={inputField.isPicklist} >
                        <lightning-combobox
                                name={inputField.fieldAPIName}
                                label={inputField.fieldLabel}
                                value={inputField.inputValue}
                                placeholder={inputField.fieldLabel}
                                variant="label-hidden"
                                options={inputField.picklistValues}
                                onchange={handleInputChange}
                                message-when-value-missing={inputField.missingMessage} ></lightning-combobox>
                    </template>
                    <template if:false={inputField.isPicklist} >
                        <lightning-input
                                type={inputField.inputType}
                                value={inputField.inputValue}
                                name={inputField.fieldAPIName}
                                placeholder={inputField.fieldLabel}
                                variant="label-hidden"
                                required
                                onchange={handleInputChange}
                                message-when-value-missing={inputField.missingMessage}></lightning-input>
                    </template>
                </template>
            </div>
        </div>
    </template>

    <template if:true={errorMessage} >
        <div class="slds-text-color_error">
            <lightning-formatted-rich-text value={errorMessage}></lightning-formatted-rich-text>
        </div>
    </template>

    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
            <lightning-button
                    variant="brand"
                    label={labels.signUpButtonLabel}
                    onclick={signUpToCommunity}>
            </lightning-button>
        </div>
    </div>
</template>