<template>
    <template if:true={componentReady}>
        <c-lsb_-record-details record-id={recordId} object-api-name={objectApiName}
                               field-set-api-name={fieldSetApiName}></c-lsb_-record-details>
    </template>
</template>