<template>
        <template if:false={responseData}>
            <div class="slds-col slds-size_12-of-12 slds slds-p-horizontal_large">
                <c-lsb_-comm-self-assessment-no-result header-text={labels.NO_RESULT_HEADER} message-text={labels.NO_RESULT_MESSAGE}></c-lsb_-comm-self-assessment-no-result>
            </div>
        </template>
        <template if:true={responseData}>
            <h2 class="progress-chart__title header__small">{labels.CHART_TITLE}</h2>
            <div class="content">
                <p class="chart__description text__body">{labels.PARAGRAPH_ONE}</p>
                <p class="chart__description text__body">{labels.PARAGRAPH_TWO}</p>
                <template if:true={isMobile}>
                    <c-lsb_-comm-self-assessment-personal-development-table table-data={tableData} ></c-lsb_-comm-self-assessment-personal-development-table>
                 </template>
                <template if:false={isMobile}>
                        <c-lsb_-progress-chart chart-config={chartConfigData} ></c-lsb_-progress-chart>
                </template>
                <template if:false={isMobile}>
                    <div class="progress__table-hidden">
                        <c-lsb_-comm-self-assessment-personal-development-table table-data={tableData} ></c-lsb_-comm-self-assessment-personal-development-table>
                    </div>
                </template>
                <p class="chart__description text__body">{labels.PARAGRAPH_THREE}</p>
                <p class="chart__description text__body">{labels.PARAGRAPH_FOUR}</p>
                <p class="chart__description text__body">{labels.PARAGRAPH_FIVE}</p>
            </div>
        </template>
</template>