.section {
    margin: 16px 0;
}

.section__item {
    padding-top: 16px;
}

.section__icon {
    align-items: center;
    background-color: #F8E9EF;
    border-radius: 50%;
    color: #B62E5F;
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 32px;
    margin-right: 12px;
    min-width: 32px;
}

.section__data {
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 16px;
    width: 100%;
}

.section__item:last-of-type .section__data {
    border: none;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.section__name {
    font-weight: bold;
}

.profile__item {
    margin-top: 8px;
}

.profile__item--bold {
    font-weight: bold;
}

.current__profile {
    color: #B62E5F;
}