<template>
    <ul class="section slds-wrap">
        <template for:each={tableData} for:item="tableItem" key={tableItem.label}>
            <li class="slds-grid slds-col slds-size_1-of-1 section__item" aria-label={tableItem.ariaLabel} key={tableItem.label}>
                <div class="section__icon">
                    <span class={tableItem.iconName} aria-hidden="true"></span>
                </div>
                <div class="section__data">
                    <p class="section__name" aria-hidden="true">{tableItem.label}</p>
                    <template for:each={tableItem.profiles} for:item="profile" key={profile.name}>
                        <div class="profile" key={profile.name} data-id={profile.name} id={profile.name} >
                            <span class="profile__item" aria-hidden="true">{profile.name}</span>
                            <span class="profile__item profile__item--bold" aria-hidden="true">{profile.value}</span>
                        </div>
                    </template>
                </div>
            </li>
        </template>
    </ul>
</template>