.advisingpool {
    display: flex;
}

.advisingpool__container {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 24px;
    padding-bottom: 24px;
    width: 100%;
}

.advisingpool:last-child .advisingpool__container {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.advisingpool__icon {
    align-items: center;
    background-color: #b62e5f;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: 19px;
    height: 36px;
    justify-content: center;
    margin-right: 16px;
    min-width: 36px;
}

.advisingpool__header {
    margin-bottom: 4px;
}

.advisingpool__link {
    display: block;
    margin-top: 16px;
    width: fit-content;
}


@media screen and (max-width: 64em) {

    .advisingpool__container {
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .advisingpool__link {
        margin-top: 12px;
    }

}