<template>
    <h2 class="header__small" if:true={header}>
        {header}
    </h2>
    <template if:true={componentReady}>
        <div class="content">
            <p class="content__text text__body" if:true={description}>
                {description}
            </p>
            <ul>
                <template for:each={advisingPools} for:item="advisingPool" for:index="advisingPoolIdx">
                    <li key={advisingPool.Id} class="advisingpool">
                        <div class="advisingpool__icon" aria-hidden="true" if:true={advisingPool.iconClass}>
                            <span class={advisingPool.iconClass}></span>
                        </div>
                        <div class="advisingpool__container">
                            <div class="advisingpool__header header__body">{advisingPool.Name}</div>
                            <div class="advisingpool__text text__body">{advisingPool.sfal__Description__c}</div>
                            <a if:true={advisingPool.LSB_Url__c} href={advisingPool.LSB_Url__c} class="advisingpool__link button__hyperlink">{labels.findOutMore}<span class="action__icon mdi mdi-arrow-right"></span></a>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </template>
</template>