<template>

    <template if:true={isReady}>
        <article class="slds-card ">
            <div class="my-card">
                <div class="slds-card__header slds-grid custom_header">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-contact" title="contact">
                                <lightning-icon size="small" icon-name="standard:case"></lightning-icon>
                                <span class="slds-assistive-text">{title}</span>
                            </span>
                        </div>
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                <span>{cardTitle}</span>
                            </h2>
                        </div>
                        <div class="slds-no-flex">
                            <lightning-button-group>
                                <lightning-button label={labels.addMember} onclick={openAddMemberModal}></lightning-button>
                                <lightning-button label={labels.addTeam} onclick={openAddTeamModal}></lightning-button>
                            </lightning-button-group>
                        </div>
                    </header>
                </div>
                <template if:false={isDataEmpty}>
                    <div class=" table_container">
                        <table class="slds-table slds-table_cell-buffer slds-no-row-hover slds-table_bordered slds-table_fixed-layout" role="grid" >
                        <thead>
                            <tr class="slds-text-title">
                                <th class="" scope="col">
                                    <div class="slds-truncate" title={labels.columnTeamMember}>{labels.columnTeamMember}</div>
                                </th>
                                <th class="role_column" scope="col">
                                    <div class="slds-truncate" title={labels.columnMemberRole}>{labels.columnMemberRole}</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title={labels.columnCaseAccess}>{labels.columnCaseAccess}</div>
                                </th>
                                <th class="" scope="col">
                                    <div class="slds-truncate" title={labels.columnVisibleInCSP}>{labels.columnVisibleInCSP}</div>
                                </th>
                                <th scope="col" class="action_column">
                                    <div class="slds-cell-fixed"></div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <template for:each={data} for:item="item" for:index="itemIndex">
                                <tr class="slds-hint-parent" key={item.id}>
                                    <td>
                                        <div class="slds-truncate name_div" title={item.memberName} onclick={handleRowClick}
                                             data-id={item.memberId} data-name={item.isTeam}>
                                            <span class="member__icon-span"><img class="member__icon" src={item.memberPhotoUrl}/><br></span>
                                            <template if:false={item.isTeam}>
                                                <a class="slds-link">{item.memberName}</a>
                                            </template>
                                            <template if:true={item.isTeam}>
                                                {item.memberName}
                                            </template>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-text-title slds-text-color_default slds-truncate" title={item.roleName}>
                                            {item.roleName}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-text-title slds-text-color_default">
                                            {item.accessLevel}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="slds-text-title slds-text-color_default">
                                            <div class="slds-checkbox">
                                                <input type="checkbox" checked={item.visibleInCSP}
                                                       name="options" id={item.id} value={item.visibleInCSP}
                                                       disabled/>
                                                <label class="slds-checkbox__label" for={item.id}>
                                                    <span class="slds-checkbox_faux"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <lightning-button-menu icon-size="x-small" alternative-text="Show menu"
                                                               variant="border-filled" data-id={item.id} data-name={item.isTeam}>
                                            <template for:each={actions} for:item="action" for:index="itemIndex">
                                                <lightning-menu-item value={action.name} label={action.label} data-id={item.id}
                                                                     key={action.name} data-name={item.isTeam}
                                                                     onclick={handleRowAction}></lightning-menu-item>
                                            </template>
                                        </lightning-button-menu>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </template>
            </div>
        </article>
    </template>
    <template if:false={isReady}>
        <div class="modal__spinner">
            <c-lsb_spinner></c-lsb_spinner>
        </div>
    </template>

    <c-lsb_confirmation-modal onsubmitmodal={deleteRow}>
    </c-lsb_confirmation-modal>

    <c-lsb_add-case-team-member-modal onsavemember={handleSaveEvent}>
    </c-lsb_add-case-team-member-modal>

    <c-lsb_add-case-predefined-team-modal onsavemember={handleSaveEvent}>
    </c-lsb_add-case-predefined-team-modal>

</template>