.modal__spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.my-card {
    display: block;
    border-style: solid;
    border-color: rgb(221, 219, 218);
    border-radius:0.25rem;
    border-width: 1px;
}

.custom_header {
    padding: 16px!important;
    background-color: rgba(243, 242, 242, 1)!important;
    margin-bottom: 0px!important;
}

.table_container {
    display: block;
    border-style: solid;
    border-color: rgb(221, 219, 218);
    border-radius:0.25rem;
    border-width: 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;

}

.member__icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.member__icon-span {
    float: left;
    display: block;
    background-clip: content-box;
    padding-right: 4px;
}

.table_cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action_column {
    width: 52px;
}

.role_column {
    width: 300px;
}