/**
 * Created by mkleczkows002 on 29.03.2021.
 */

.filter__set {
    margin: 10px 0 10px 0;
}

.filter__pill {
    margin-right: 10px;
}

.filter__statictext {
    text-align: center;
    padding: 25px;
}

.filter__optionslist {
    margin: 0 10px 0 10px;
}

.filter__iconbutton {
    padding: 20px 0 0 0;
}