<template>
    <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
            {dataConfiguration.headerLabel}
        </h2>
    </header>

    <div class="slds-scrollable slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <template if:true={addNewDetail}>
            <!-- Add filters -->
            <lightning-button label='Add filter' disabled={noSupportMasterAvailable}
                              onclick={createNewFilter}></lightning-button>

            <template if:true={newFilter}>
                <div class="slds-grid filter__form">
                    <div class="slds-col grid-element slds-size_3-of-12">
                        <lightning-combobox options={filterTypes}
                                            onchange={handleFilterTypeSelect}></lightning-combobox>
                    </div>
                    <template if:true={newFilter.type}>
                        <div class="slds-col grid-element slds-size_1-of-12">
                            <template if:true={newFilter.oneFilterOption}>
                                <div class="filter__statictext">
                                    {newFilter.selectedOption}
                                </div>
                            </template>
                            <template if:false={newFilter.oneFilterOption}>
                                <lightning-combobox options={newFilter.filterOptions}
                                                    onchange={handleFilterOptionChange}
                                                    class="filter__optionslist"></lightning-combobox>
                            </template>
                        </div>
                        <div class="slds-col grid-element slds-size_3-of-12">
                            <template if:true={newFilterTypeCombobox}>
                                <lightning-combobox options={newFilter.options}
                                                    onchange={handleFilterValueChange}></lightning-combobox>
                            </template>
                            <template if:true={newFilterTypeInput}>
                                <lightning-input type={newFilter.type}
                                                 onchange={handleFilterValueChange}></lightning-input>
                            </template>
                        </div>
                        <div class="slds-col grid-element slds-size_2-of-12 filter__iconbutton">
                            <lightning-button-icon icon-name="utility:check" alternative-text="Save" variant="border"
                                                   class="slds-m-left_xx-small" title="Save"
                                                   onclick={addFilter}></lightning-button-icon>
                        </div>
                    </template>
                </div>
            </template>

            <!-- Current filters -->
            <div class="filter__set">
                <template for:each={activeFilters} for:item="filter">
                    <lightning-pill key={filter.label} label={filter.label} class="filter__pill"
                                    onremove={removeFilter}></lightning-pill>
                </template>
            </div>

            <!-- Available Support Master records -->
            <template if:false={noSupportMasterAvailable}>
                <c-lsb_-datatable key-field="Id"
                                  data={supportMastersRows}
                                  columns={supportMastersColumns}
                                  onrowselection={handleMasterRowSelection}
                                  selected-rows={preselectedMasterRows}>
                </c-lsb_-datatable>
            </template>
            <template if:true={noSupportMasterAvailable}>
                {label.NO_MASTER_RECORDS}
            </template>
        </template>
        <template if:true={editNewDetailsPage}>
            <template if:true={selectedSupportMastersRows.length}>
                <h3 class="slds-modal__title">{label.NEW_TABLE_HEADER}</h3>
                <c-lsb_-datatable key-field={dataConfiguration.keyField}
                                  data={newItemsData}
                                  columns={newSupportDetailsColumns}
                                  oncellchange={handleNewCellChange}
                                  onchange={handleNewPicklistChange}
                                  suppress-bottom-bar=true
                                  hide-checkbox-column=true
                                  show-row-number-column=false>
                </c-lsb_-datatable>
            </template>
            <template if:false={selectedSupportMastersRows.length}>
                {label.NO_NEW_RECORDS}
            </template>
        </template>
        <template if:true={detailsListView}>
            <template if:true={existingSupportDetailsRows.length}>
                <h3 class="slds-modal__title slds-hyphenate">{label.EXISTING_TABLE_HEADER}</h3>
                <c-lsb_-datatable key-field="Id"
                                  data={existingSupportDetailsRows}
                                  columns={existingSupportDetailsColumns}
                                  oncellchange={handleExistingCellChange}
                                  onchange={handlePicklistChange}
                                  draft-values={draftValues}
                                  suppress-bottom-bar=true
                                  column-widths-mode="auto"
                                  hide-checkbox-column=true
                                  show-row-number-column=false></c-lsb_-datatable>
            </template>
            <template if:false={existingSupportDetailsRows.length}>
                {label.NO_EXISTING_RECORDS}
            </template>
        </template>
    </div>

    <footer class="slds-modal__footer">
        <template if:true={addNewDetail}>
            <lightning-button
                    label={label.PREVIOUS_BTN}
                    variant="Neutral"
                    onclick={goToDetailsListView}
                    class="slds-m-left_x-small">
            </lightning-button>
            <lightning-button
                    label={label.NEXT_BTN}
                    variant="brand"
                    onclick={goToEditNewDetailsPage}
                    class="slds-m-left_x-small">
            </lightning-button>
        </template>
        <template if:true={editNewDetailsPage}>
            <lightning-button
                    label={label.PREVIOUS_BTN}
                    variant="Neutral"
                    onclick={goToAddNewDetailPage}
                    class="slds-m-left_x-small">
            </lightning-button>
            <lightning-button
                    label={label.SAVE_NEW}
                    variant="brand"
                    onclick={saveNewDetails}
                    class="slds-m-left_x-small">
            </lightning-button>
        </template>
        <template if:true={detailsListView}>
            <lightning-button
                    label={label.CREATE_NEW_BTN}
                    variant="Neutral"
                    onclick={goToAddNewDetailPage}
                    class="slds-m-left_x-small">
            </lightning-button>
            <lightning-button
                    label={label.SAVE_BTN}
                    variant="brand"
                    onclick={handleSave}
                    class="slds-m-left_x-small">
            </lightning-button>
        </template>
    </footer>
</template>