.THIS .create__container {
    display: flex;
    height: 188px;
}

.THIS .create__button {
    padding: 14px 18px;
    line-height: 1;
    font-weight: bold;
    margin: auto 0 20px auto;
}

@media screen and (max-width: 48em) {

    .THIS.schedule__container {
        height: 0;
    }

    .THIS .schedule__button {
        border-radius: 0;
        bottom: 0;
        left: 0;
        padding: 18px;
        margin: 0;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
}