<template>
    <ul class="topic__grid">
        <template  for:each={topics} for:item="topic" for:index="topicIndex" >
            <li key={topic.name} class="topic content" data-url={topic.url} onclick={redirectToArticles}>
                <img class="topic__img" src={topic.images.featuredImageUrl}/ alt=”” aria-hidden="true">
                <h3 class="topic__header header__small"><lightning-formatted-rich-text value={topic.title}></lightning-formatted-rich-text></h3>
                <p class="topic__desc text__body"><lightning-formatted-rich-text value={topic.description}></lightning-formatted-rich-text></p>
                <a class="topic__link" aria-label={topic.linkAriaLabel} href={topic.url} onclick={redirectToArticlesFromLink}>{labels.browseArticlesLink}<span class="topic__icon mdi mdi-arrow-top-right"></span></a>
            </li>
        </template>
    </ul>
</template>