.topic__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    row-gap: 32px;
    column-gap: 32px;
    margin-bottom: 64px;
}

.topic {
    border-bottom: 5px solid #B62E5F;
    cursor: pointer;
    margin: 0;
    min-height: 340px;
    position: relative;
}

.topic:hover .topic__link {
    text-decoration: underline;
}

.topic__img {
    height: 54px;
    margin-left: -8px;
}

.topic__header {
    margin: 18px 0;
}

.topic__desc {
    margin-bottom: 42px;
}

.topic__link {
    color: #B62E5F;
    font-size: 13px;
    position: absolute;
    bottom: 32px;
}

.topic__icon {
    font-size: 15px;
    margin-left: 8px;
}

@media screen and (max-width: 47.9375em) {

    .topic__grid {
        grid-template-columns: 1fr;
        margin-bottom: 16px;
        row-gap: 16px;
    }

    .topic {
        min-height: unset;
        background-color: #fff;
    }

    .topic__link {
        position: unset;
    }

}