<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_12-of-12">
            <lightning-input
                    data-id="studentId"
                    type=text
                    name="studentId"
                    placeholder={labels.studentIdFieldLabel}
                    variant="label-hidden"
                    class="grid-element"
                    required
                    onblur={fetchStudent}
                    onchange={handleInputChange}></lightning-input>
        </div>
        <div class="slds-col slds-size_6-of-12">
            <lightning-input
                    data-id="firstName"
                    type=text
                    name="firstName"
                    placeholder={labels.firstNameFieldLabel}
                    variant="label-hidden"
                    class="grid-element"
                    onchange={handleInputChange}></lightning-input>
        </div>
        <div class="slds-col slds-size_6-of-12">
            <lightning-input
                    data-id="lastName"
                    type=text
                    name="lastName"
                    placeholder={labels.lastNameFieldLabel}
                    variant="label-hidden"
                    class="grid-element"
                    onchange={handleInputChange}></lightning-input>
        </div>
        <div class="slds-col slds-size_12-of-12">
            <div class="grid-element">
                <lightning-formatted-rich-text value={labels.contactEmailDescription}></lightning-formatted-rich-text>
            </div>
        </div>
        <div class="slds-col slds-size_12-of-12">
            <lightning-input
                    data-id="contactEmail"
                    type=email
                    name="contactEmail"
                    placeholder={labels.emailFieldLabel}
                    variant="label-hidden"
                    class="grid-element"
                    onchange={handleInputChange}></lightning-input>
        </div>
        <template if:false={hideButton} >
            <div class="slds-col slds-size_12-of-12">
                <lightning-button
                        variant="brand"
                        label={labels.buttonLabel}
                        class="grid-element submit-button"
                        onclick={handleJoinQueueClick}></lightning-button>
            </div>
        </template>
    </div>
</template>