<template>
    <lightning-card title={labels.chartTitle} icon-name="custom:custom102">
        <template if:true={isReady}>
            <template if:true={error}>
                <div class="slds-text-color_error">
                    {labels.genericError}
                </div>
            </template>
            <template if:false={error}>
                <template if:true={chartData}>
                    <c-lsb_-progress-chart chart-config={chartData} ></c-lsb_-progress-chart>
                </template>
                <template if:false={chartData}>
                    <div class="slds-col slds-size_12-of-12 slds slds-p-horizontal_large">
                        <div class="slds-text-body_regular">
                            {labels.noDataMessage}
                        </div>
                    </div>
                </template>
            </template>
        </template>
        <template if:false={isReady}>
            <c-lsb_spinner></c-lsb_spinner>
        </template>
    </lightning-card>
</template>