<template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                        {labels.addTeamModalTitle}
                    </h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium modal__container" >
                    <template if:true={errorMessage} >
                        <div class="slds-notify slds-notify_alert slds-alert_error modal__alert_error" role="alert">
                            <h2>{errorMessage}</h2>
                        </div>
                    </template>

                    <lightning-combobox
                            name="teams"
                            variant="label-hidden"
                            value={selectedTeam}
                            placeholder="Select Team"
                            options={_availableTeams}
                            dropdown-alignmen="auto"
                            onchange={handleChange} ></lightning-combobox>
                </div>

                <footer class="slds-modal__footer">
                    <div class="bottomBarLeft slds-col"></div>
                    <div class="bottomBarRight slds-col_bump-left slds-text-align_right" >
                        <lightning-button class="slds-button" label={labels.addTeamModalButtonCancel} onclick={closeModal} > </lightning-button>
                        <lightning-button class="slds-button" type="submit" label={labels.addTeamModalButtonSave} onclick={handleSubmit} > </lightning-button>
                    </div>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>