.modules__item {
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    margin-left: 52px;
    padding: 24px 0;
    position: relative;
}

.modules__item:first-of-type {
    padding-top: 0;
}

.modules__item:last-of-type {
    border: none;
    padding-bottom: 0;
}

.modules__item:before {
    align-items: center;
    background-color: #B62E5F;
    border-radius: 50%;
    color: white;
    content: "\F1180";
    display: flex;
    font-family: "Material Design Icons";
    font-size: 19px;
    font-weight: normal;
    height: 36px;
    justify-content: center;
    left: -52px;
    margin-right: 16px;
    position: absolute;
    width: 36px;
}

.modules__item span {
    align-items: center;
    display: flex;
    line-height: 18px;
    min-height: 36px;
}

@media screen and (max-width: 64em) {

    .modules__item {
        margin-left: 48px;
        padding: 16px 0;
    }

    .modules__item:before {
        left: -48px;
        margin-right: 12px;
    }
}