<template>
    <h2 class="header__small" if:true={header}>
        {header}
    </h2>
    <div class="content" if:true={dataReady}>
        <p class="text__body content__text" if:true={description}>
            {description}
        </p>
        <ul class="modules">
            <template for:each={moduleNames} for:item="name">
                <li class="modules__item header__body" key={name}><span>{name}</span></li>
            </template>
        </ul>
    </div>
</template>