.mad__header {
    margin-bottom: 16px;
}

.mad__text {
    margin-bottom: 16px;
}

.mad__list {
    padding-left: 0;
}

.mad__list li {
    margin-bottom: 16px;
    padding-left: 16px;
}

.mad__list li:before {
    margin-left: -27px !important;
    margin-right: 12px;
}

.mad__hyperlink-button {
    font-size: 13px!important;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 42px;
    color:rgb(182 46 95);
}

.mad__hyperlink-button:last-of-type {
    margin-bottom: 0;
}

.arrow__icon {
    font-size: 13px;
    margin-left: 6px;
}