<template>
    <h2 class="header__small--community">{labels.componentHeader}</h2>
    <div class="mad content">
        <p class="mad__text text__body--community">{labels.componentParagraph}</p>
        <ul class="mad__list text__body--community slds-list_dotted">
            <li>{labels.listItem1}</li>
            <li>{labels.listItem2}</li>
            <li>{labels.listItem3}</li>
        </ul>
        <p class="mad__text text__body--community"><b>Note:</b> Prior to submitting extenuating circumstances claims, please review the university's extenuating circumstances procedure <a href="https://www.lsbu.ac.uk/__data/assets/pdf_file/0003/118578/student-extenuating-circumstances-procedure.pdf">here</a>.</p>
        <a tabindex="0" class="mad__hyperlink-button" onkeypress={handlePress} onclick={handleClick}>
            <span>{labels.submitRequest}</span>
            <span class="mdi mdi-arrow-right arrow__icon"></span>
        </a>
    </div>

    <c-lsb_-comm-create-claim-modal >
    </c-lsb_-comm-create-claim-modal>

</template>