.section__content {
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 10px;
}

.section__heading {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 7px;
    font-weight: bold;
}