<template>
    <template if:true={isReady}>
        <lightning-card title="MyPlan data" icon-name="standard:work_plan">
        <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12 slds-p-horizontal_large" >
            <template if:true={error}>
                <div class="slds-text-color_error">
                    {labels.genericError}
                </div>
            </template>
            <template if:false={error}>
                <template if:true={responsesInSections}>
                    <template for:each={responsesInSections} for:item="section" for:index="secIndex">
                        <section key={section.sectionName} data-id={section.id} id={section.id}>
                            <h2 class="section__heading">{section.sectionName}</h2>
                            <div class="section__content">
                                <template for:each={section.responses} for:item="resp" for:index="resIndex">
                                    <div key={resp.Id}>
                                        <c-lsb_-comm-self-assessment-response assessment-response={resp} is-mobile={isMobile}></c-lsb_-comm-self-assessment-response>
                                    </div>
                                </template>
                            </div>
                        </section>
                    </template>
                </template>
                <template if:false={responsesInSections}>
                    <div class="slds-text-body_regular">
                        {labels.noDataMessage}
                    </div>
                </template>
            </template>
        </div>
        </lightning-card>
    </template>
    <template if:false={isReady}>
        <c-lsb_spinner></c-lsb_spinner>
    </template>
</template>