<template>
    <div class="slds-grid slds-wrap main-container">
            <div class="slds-col slds-size_12-of-12">
                <lightning-input
                        type="email"
                        name="email"
                        placeholder={labels.emailLabel}
                        variant="label-hidden"
                        class="email custom-input"
                        required
                        onblur={validateEmail}
                        onchange={handleEmailChange}                        >     
                </lightning-input>
            </div>

    </div>

    <template if:true={errorMessage} >
        <div class="error-message slds-text-color_error">
            <lightning-formatted-rich-text value={errorMessage}></lightning-formatted-rich-text>
        </div>
    </template>

    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
            <lightning-button
                    variant="brand"
                    label={labels.resetPasswordButtonLabel}
                    onclick={resetPassword}></lightning-button>
        </div>
    </div>

</template>