<template>
    <lightning-card  title={labels.componentHeader}>
        <c-lsb_-community-front-desk-self-check-in advisor-mode="true"></c-lsb_-community-front-desk-self-check-in>
    </lightning-card>
</template>