.chatter__message {
    margin-bottom: 16px;
}

.chatter__reply {
    background-color: white;
    bottom: 0;
    position: sticky;
    padding: 10px 0;
}

.message__content {
    background-color: #f3f3f3;
    border-radius: 4px;
    color: #323232;
    font-size: 14px;
    margin-left: 40px;
    padding: 10px 16px;
    position: relative;
    top: -8px;
}

.message__sender {
    color: #787878;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.sender__avatar {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
}

.reply__container {
    align-items: center;
    display: flex;
    width: 100%;
}

.reply__input {
    width: 100%;
}

.reply__icon {
    align-items: center;
    color: #EE7925;
    cursor: pointer;
    height: 40px;
    display: flex;
    padding-left: 16px;
}

button__inactive {
    color: #D3D3D3;
}

@media screen and (max-width: 48em) {

    .chatter {
        margin: 0 -.75rem;
        padding: 0 30px;
    }    

    .chatter__reply {
        width: 100%;
    }

    .message__content {
        font-size: 13px;
    }

    .message__sender {
        font-size: 11px;
    }
}