<template>
    <div class="spinner" if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
    <div if:true={chatterFeedsEmpty}>
        <div class="chatter">
            <div class="chatter__reply">
                <div class="reply__container">
                    <img class="sender__avatar" src={userPhoto} alt=""/>
                    <lightning-input class="reply__input slds-input_height" type="text" variant="label-hidden"
                                     value={feedComment}
                                     onchange={onFeedInput}
                                     placeholder={labels.chatterPlaceholder}>
                    </lightning-input>
                    <div if:true={feedComment} role="button" class="reply__icon" aria-label="send message">
                        <lightning-icon class="slds-current-color" icon-name="utility:send" size="small"
                                        onclick={addFeed}></lightning-icon>
                    </div>
                    <div if:false={feedComment} role="button" class="reply__icon" aria-label="send message">
                        <lightning-icon class="button__inactive" icon-name="utility:send"
                                        size="small"></lightning-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <template if:false={chatterFeedsEmpty} for:each={chatterFeeds} for:item="feed" for:index="feedIndex">
        <div class="chatter" key={feed.Id}>
            <div class="chatter__message">
                <span class="message__sender" aria-label={feed.ariaLabel}>
                    <img class="sender__avatar" src={feed.InsertedBy.SmallPhotoUrl}/ alt="">
                    {feed.InsertedBy.FirstName}&nbsp;{feed.InsertedBy.LastName},&nbsp;{feed.CreatedDate}
                </span>
                <div class="message__content">
                    {feed.Body}
                </div>
            </div>
            <template for:each={feed.FeedComments} for:item="comment" for:index="commentIndex">
                <div class="chatter__message" role="comment" key={comment.Id}
                     aria-label={comment.ariaLabel}>
                    <span class="message__sender" aria-hidden="true">
                        <img class="sender__avatar" src={comment.InsertedBy.SmallPhotoUrl}/ alt="">
                        {comment.InsertedBy.FirstName}&nbsp;{comment.InsertedBy.LastName},&nbsp;{comment.CreatedDate}</span>
                    <div class="message__content" aria-hidden="true">
                        {comment.CommentBody}
                    </div>
                </div>
            </template>
            <div class="chatter__reply">
                <div class="reply__container">
                    <img class="sender__avatar" src={userPhoto} alt=""/>
                    <lightning-input class="reply__input slds-input_height" type="text" variant="label-hidden"
                                     value={feed.commentBody}
                                     onchange={onCommentInput}
                                     data-index={feedIndex} placeholder={labels.chatterPlaceholder}>
                    </lightning-input>
                    <div if:true={feed.commentBody} role="button" class="reply__icon" aria-label="send message">
                        <lightning-icon class="slds-current-color" icon-name="utility:send" size="small"
                                        onclick={addComment}
                                        data-index={feedIndex}></lightning-icon>
                    </div>
                    <div if:false={feed.commentBody} role="button" class="reply__icon" aria-label="send message">
                        <lightning-icon class="button__inactive" icon-name="utility:send" size="small"
                                        data-index={feedIndex}></lightning-icon>
                    </div>
                </div>
            </div>
        </div>
    </template>
</template>