<template>
    <template if:true={isModalOpen}>

        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small modal__section"
                 aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">

            <div class="modal__main-container slds-modal__container modal__container"> 
                <header class="modal__header">
                        <div class="modal__title">
                            <h1 class="header__small">
                                {labels.modalTitle}
                            </h1>
                            <button onclick={handleCloseModal} class="slds-button slds-button_icon slds-current-color modal__icon modal__close close__button">
                                <lightning-icon
                                        alternative-text="close"
                                        icon-name="utility:close"
                                        size="x-small"
                                        role="button"
                                        variant="inverse">
                                </lightning-icon>
                            </button>
                        </div>
                        <button disabled={isFirstScreen} class="modal__back" onclick={handleClickBack}>
                            <span class="mdi mdi-arrow-left"></span>{labels.backButton}
                        </button>
                </header>
                
                <div class="slds-progress-bar modal_progress-bar" aria-valuemin="0" aria-valuemax="100"
                     aria-valuenow={progress} role="progressbar">
                     <span class="slds-progress-bar__value progress__bar" style={progressBarValue}>
                         <span class="slds-assistive-text">{progressBarValueText}</span>
                     </span>
                </div>

                <div class="slds-modal__content slds-p-around_medium modal__content slds-is-relative"
                     id="modal-content-id-1">

                        <!--                    Screen 1-->
                    <template if:true={showFirstScreen}>
                        <div class="step1">
                            <template if:true={isReady}>
                                <div class="request-types__div">
                                    <div class="request-types__input slds-form-element__control" role="radiogroup" aria-labelledby="request__header">
                                        <h2 id="request__header" class="header__body">{labels.requestTypeFieldLabel}</h2>
                                        <template if:true={requestTypeData} >
                                            <template for:each={requestTypeData} for:item="requestType">
                                                <div class="slds-radio" key={requestType.value} role="radio">
                                                    <input id={requestType.value} value={requestType.value} type="radio" name="default"
                                                           onchange={handleRequestTypeChange} checked={requestType.active} />
                                                    <label class="slds-radio__label modal__radio-label" for={requestType.value}>
                                                        <span class="slds-radio_faux"></span>
                                                        <span class="slds-form-element__label modal__radio-item text__body">{requestType.label}</span>
                                                    </label>   
                                                    <p class="request-type__description text__body" key={requestType.value}>{requestType.description}</p>        
                                                </div>
                                            </template>
                                        </template>
                                        <div class="request-types__error slds-form-element__help slds-hide" id="error-radio">{labels.requestTypeFieldLabel}</div>
                                    </div>
                                </div>
                                <div class="modal__wrapper">
                                    <button class="modal__button save__button" onclick={handleClickNext} >
                                        {labels.nextButtonLabel}
                                    </button>
                                </div>
                            </template>
                            <template if:false={isReady}>
                                <div class="modal__spinner">
                                    <c-lsb_spinner></c-lsb_spinner>
                                </div>
                            </template>
                        </div>
                    </template>
                        <!--                    Screen 2-->
                    <template if:true={showSecondScreen}>
                        <div class="step2">
                            <template if:true={isReady}>
                                <p class="info-text__p1 text__body">{selectedRequestType.signpostingFirstParagraph}</p>
                                <p class="info-text__p2 text__body">{selectedRequestType.signpostingSecondParagraph}</p>
                                <lightning-combobox
                                        class="modal__input header__body"
                                        name="module"
                                        data-id="moduleSelect"
                                        label={labels.selectModuleLabel}
                                        value={selectedModuleId}
                                        placeholder={labels.selectModulePlaceholder}
                                        options={moduleOptions}
                                        onchange={handleModuleChange} ></lightning-combobox>
                                <lightning-combobox
                                        class="modal__input header__body"
                                        name="assessment"
                                        data-id="assessmentSelect"
                                        label={labels.assessmentFieldLabel}
                                        value={selectedAssessmentId}
                                        disabled={moduleNotSelected}
                                        placeholder={labels.assessmentFieldPlaceholder}
                                        options={assessmentOptions}
                                        onchange={handleAssessmentChange} ></lightning-combobox>

                                <template if:true={isLateRequest}>
                                    <lightning-textarea class="header__body" name="comments" label={labels.detailsLabel} value={details}
                                                        onchange={handleDescriptionChange} placeholder={labels.detailsPlaceholder} ></lightning-textarea>
                                </template>
                                <template if:true={isECRequest}>
                                    <div class="modal__wrapper">
                                        <button class="modal__button save__button" onclick={handleClickNext}>
                                            {labels.nextButtonLabel}
                                        </button>
                                    </div>
                                </template>
                                <template if:false={isECRequest}>
                                    <div class="modal__wrapper">
                                        <button class="modal__button save__button" onclick={handleSubmit}>
                                            {labels.submitButton}
                                        </button>
                                    </div>
                                </template>
                            </template>
                            <template if:false={isReady}>
                                <div class="modal__spinner">
                                    <c-lsb_spinner></c-lsb_spinner>
                                </div>
                            </template>
                        </div>
                    </template>
                        <!--                    Screen 3-->
                    <template if:true={showThirdScreen}>
                        <div class="step3">
                            <template if:true={isReady}>
                                <div class="info-text__container">
                                    <h2 class="header__body">{ecScreenConfigData.LSB_ScreenTitle__c}</h2>
                                    <p class="info-text__p1 text__body">{ecScreenConfigData.LSB_FirstParagraph__c}</p>
                                    <template if:true={ecScreenConfigData.LSB_SecondParagraph__c}>
                                        <p class="info-text__p2 text__body">{ecScreenConfigData.LSB_SecondParagraph__c}</p>
                                    </template>
                                </div>
                                <template if:true={ecScreenConfigData.LSB_ShowAbleSubmit5WorkingDays__c}>
                                    <lightning-radio-group class="step3__radio"
                                                           name="submitOptions"
                                                           data-id="submitRadioGroup"
                                                           label={labels.submit5WorkingDaysFieldLabel}
                                                           options={submitWithin5DaysOptions}
                                                           type="radio"
                                                           value={submitWithin5Days}
                                                           onchange={handleWorkingDaysChange}></lightning-radio-group>
                                </template>
                                <template if:true={ecScreenConfigData.LSB_AbleToAttendExamOptions__c}>
                                    <lightning-radio-group class="step3__radio"
                                                           name="sitExamOptions"
                                                           data-id="sitExamRadioGroup"
                                                           label={labels.attendExamFieldLabel}
                                                           options={sitExamOptions}
                                                           type="radio"
                                                           value={ableToSitExam}
                                                           onchange={handleSitExamChange}></lightning-radio-group>
                                </template>
                                <p if:true={ecScreenConfigData.LSB_SingleSelectFieldDescription__c} class="info-text__p3 text__body">{ecScreenConfigData.LSB_SingleSelectFieldDescription__c}</p>
                                <lightning-checkbox-group class="step3__radio"
                                                          name="reason"
                                                          data-id="reasonCheckbox"
                                                          label={labels.reasonFieldLabel}
                                                          options={reasonOptions}
                                                          value={reason}
                                                          onchange={handleReasonChange}></lightning-checkbox-group>

                                <template if:true={hasOtherValue} >
                                    <lightning-input class="otherconfirmation"
                                                     type="checkbox"
                                                     data-id="otherConfirmation"
                                                     value={confirmReasonOther}
                                                     onchange={handleOtherConfirmationChange}
                                                     label={labels.otherCheckboxLabel}
                                                     name="input1"></lightning-input>
                                </template>
                                <p if:true={ecScreenConfigData.LSB_DetailsFieldDescription__c} class="info-text__p3 text__body">{ecScreenConfigData.LSB_DetailsFieldDescription__c}</p>
                                <lightning-textarea class="step3__details header__body"
                                                    name="comments"
                                                    data-id="detailsText"
                                                    label={labels.detailsLabel}
                                                    value={details}
                                                    onchange={handleDescriptionChange}
                                                    placeholder={labels.detailsPlaceholder}></lightning-textarea>
                                    <div class="academic-regulation__confirmation slds-form-element">
                                        <div class="slds-form-element__control">
                                            <div class="slds-checkbox">
                                                <input type="checkbox" name="options" onchange={handleUnderstandRegulationsChange}
                                                       value={understandAcademicRegulations} id="checkbox-unique-id-77" />
                                                <label class="slds-checkbox__label" for="checkbox-unique-id-77">
                                                    <span class="slds-checkbox_faux"></span>
                                                    <span class="slds-form-element__label">
                                                        <lightning-formatted-rich-text value={understandRegulationLabel}></lightning-formatted-rich-text>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="academic-regulation__confirmation__error slds-form-element__help slds-hide" id="error-conf">{labels.declarationError}</div>
                                    </div>
                                <lightning-input data-id="confirmationCorrectCheckbox"
                                                 type="checkbox"
                                                 value={informationProvidedCorrect}
                                                 onchange={handleInformationProvidedCheckboxChange}
                                                 label={labels.confirmationCheckboxLabel}
                                                 name="confirmationCorrectCheckbox"></lightning-input>
                                <div class="modal__wrapper">
                                    <button class="modal__button save__button" onclick={handleSubmit}>
                                        {labels.submitButton}
                                    </button>
                                </div>
                            </template>
                            <template if:false={isReady}>
                                <div class="modal__spinner">
                                    <c-lsb_spinner></c-lsb_spinner>
                                </div>  
                            </template>
                        </div>
                    </template>
                        <!--                    Screen 4-->
                    <template if:true={showLastScreen}>
                        <div class="step4">
                            <c-lsb_-comm-create-claim-status-screen
                                    first-paragraph={confirmationScreenConfigData.firstParagraph}
                                    second-paragraph={confirmationScreenConfigData.secondParagraph}
                                    third-paragraph={confirmationScreenConfigData.thirdParagraph}
                                    case-id={confirmationScreenConfigData.caseId}
                                    case-number={confirmationScreenConfigData.caseNumber}
                                    icon-class-name={confirmationScreenConfigData.iconClass}>
                            </c-lsb_-comm-create-claim-status-screen>
                            <c-lsb_-attachments-component parent-record-id={confirmationScreenConfigData.caseId} ></c-lsb_-attachments-component>
                            <div class="modal__wrapper">
                                <button class="modal__button save__button" onclick={handleCloseModal}>
                                    {labels.okButton}
                                </button>
                            </div>
                        </div>
                    </template>

                </div>
            </div>

        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
        <c-lsb_-modal onsubmitmodal={saveCaseRecord}>
        </c-lsb_-modal>
    </template>
</template>