.modal__container {
    width: 640px;
    max-width: unset;
    min-width: unset;
}

.modal__content {
    background-color: white;
    height: 90%;
    padding: 24px 30px 30px 30px;
}

.modal__header {
    background-color: white;
    border: none;
    border-radius: 4px 4px 0 0;
    padding: 30px 30px 24px 30px
}

.modal__title {
    align-items: flex-start;
    display: flex;
    padding: 0;
    margin-bottom: 16px;
}

.modal__back {
    align-items: center;
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
}

.modal__back span {
    font-size: 20px;
    padding-right: 8px;
}

.modal__back--active {
    color: #b62e5f;
    cursor: pointer;
}

.modal__close {
    padding-left: 12px;
}

.modal__icon {
    margin-left: auto;
    cursor: pointer;
}

.modal_progress-bar {
    width: 100%;
}

.progress__bar {
    background: #b62e5f;
    transition: width 0.75s ease;
}

.step1,
.step2,
.step3,
.step4 {
    padding-bottom: 64px;
}

.modal__wrapper {
    background-color: white;
    border-radius: 0 0 4px 4px;
    bottom: 48px;
    left: 0;
    padding: 16px 32px 32px 32px;
    position: fixed;
    width: 100%;
    z-index: 2px;
}

.modal__button {
    border-radius: 4px;
    background-color: #B62E5F;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    width: 100%
}

.modal__button:hover {
    filter:brightness(1.15)
}

.modal__spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal__input {
    margin-bottom: 24px;
}

input[type="radio"]:checked+label span {
    color: #323232;
}

.info-text__p1,
.info-text__p2,
.info-text__p3,
.step3__radio {
    margin-bottom: 24px;
}

.step3 .header__body,
.step3 .info-text__p1,
.step3 .info-text__p2 {
    margin-bottom: 8px;
}

.step3 .info-text__container{
    margin-bottom: 24px;
}

.modal__radio-label {
    cursor: pointer; 
    display: flex;
    font-weight: bold;
    margin-top: 24px;
}

.modal__radio-item {
    padding: 0;
    margin-bottom: 3px;
    position: relative;
    top: -1px;
}

.request-type__description {
    padding-left: 24px;
}

.step3__content-title {
    font-weight: bold;
}

.step3__details {
    font-weight: bold;
    margin: 24px 0;
}

.otherconfirmation {
    margin-top: -12px;
}

.academic-regulation__confirmation {
    margin-bottom: 24px;
}

@media screen and (max-width: 64em) {

    .modal__container {
        bottom: 0;
        height: 95%;
        padding: 0;
        position: absolute; 
        width: 100%
    }

    .modal__header {
        padding: 24px 24px 12px 24px;
    }

    .modal__title {
        margin-bottom: 10px;
    }

    .modal__back span {
        font-size: 18px;
    }

    .modal__content {
        padding: 24px;
    }

    .modal__wrapper {
        bottom: 0; 
        padding: 12px 24px 24px 24px;
    }

    .modal__input {
        margin-bottom: 16px;
    }
}