.grid-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.qrcode {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.grid-element {
    margin-top: 20px;
}