<template>
    <div class="slds-grid slds-wrap">
        <template if:true={totalInQueue}>
            <div class="slds-col grid-element slds-size_12-of-12">
                <div class="center-text">{totalTotalInQueueText}</div>
                <div class="center-text">{totalTimeInMinText}</div>
            </div>
        </template>
        <div class="slds-col grid-element slds-size_12-of-12">
            <lightning-button
                    variant="brand"
                    label={labels.meetButtonLabel}
                    class="grid-button"
                    onclick={openModal}></lightning-button>
        </div>
        <template if:false={advisorMode}>
            <div class="slds-col grid-element slds-size_12-of-12">
                <div class="center-text">{labels.qrCodeDescription}</div>
            </div>
            <div class="slds-col grid-element slds-size_12-of-12">
                <div class="qrcode" id="qrcode" style="height: 150px; width: 150px" ></div>
            </div>
        </template>
    </div>

    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title={labels.closeButtonLabel} onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small" ></lightning-icon>
                        <span class="slds-assistive-text">{labels.closeButtonLabel}</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{labels.modalBoxHeader}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <c-lsb_-meet-front-desk-form hide-button="true" advisor-mode={advisorMode} onclose={closeModal}></c-lsb_-meet-front-desk-form>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title={labels.cancelButtonLabel}>
                        {labels.cancelButtonLabel}
                    </button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title={labels.joinQueueButtonLabel}>
                        {labels.joinQueueButtonLabel}
                    </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>