<template>
    <div class="slds-align_absolute-center slds-is-relative height_5rem">
        <div class="demo-only height_6rem">
            <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
                    <span class="slds-assistive-text">{alternativeText}</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </div>
</template>