<template>

    <div class="postchat">
        <div class="postchat__header">
            <p class="header">
                {thankYouMessage}
            </p>
            <p class="header header-small">
                {labels.feedbackRequest}
            </p>
        </div>
        <div class="postchat__buttons">
            <button class="button"
                    onclick={handleRedirect}>{labels.feedbackButton}</button>
            <button class="button"
                    onclick={handleDownloadTranscript}>{labels.saveTranscriptButton}</button>
        </div>
    </div>

</template>