.postchat {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 24px);
    text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                             
}

.header {
    font-size: 18px;
    color: #3E3E3C;
    margin-bottom: 18px;
}

.header-small {
    font-size: 14px;
}

.postchat__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.postchat__buttons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.button {
    border: none;
    background: #902082;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 44px;
    width: 100%;
}

.button:hover {
    text-decoration: underline;
}

.button:first-child {
    margin-bottom: 8px;
}

.button:focus-visible {
    background-color: #F3E62C;
    color: #000000;
    outline: none;
}

button:focus:not(:focus-visible) {
    background-color: #902082;
    outline: none;
}