.topics {
    margin-top: 66px;
}

.topics__item {
    border-left: 1px solid #E6E6E6;
    padding: 8px 0 8px 20px;
}

.topics__item--selected {
    border-left: 3px solid #B62E5F;
    left: -1px;
    position: relative;
}

.topics__link {
    color: #323232;
    font-weight: bold;
    text-decoration: none;
}

.topics__link--selected {
    color: #B62E5F;
}

.topics__link:hover {
    color: #B62E5F;
}

@media screen and (max-width: 48em) {

    .topics {
        margin: 0;
        position: fixed;
        top: 71px;
        left: 0;
        width: 100%;
        z-index: 4;
        border-radius: 0;
        display: flex;
        overflow: scroll;
        padding: 20px 24px;
    }

    .topics__item {
        white-space: nowrap;
        padding: 0 10px;
    }

    .topics__item:first-of-type {
        border-left: none;
    }

    .topics__item:last-of-type {
        padding-right: 0;
    }

    .topics__item--selected {
        border-left: 1px solid #E6E6E6;
    }

}