<template>
    <div class="topics content">
        <template  for:each={topics} for:item="topic" for:index="topicIndex">
            <div if:true={topic.isSelected} data-id="topic-selected" key={topic.name} class="topics__item topics__item--selected">
                <a class="topics__link topics__link--selected" href={topic.url} onclick={redirectToArticlesFromLink}>{topic.name}</a>
            </div>
            <div if:false={topic.isSelected} data-id="topic-not-selected"  key={topic.name} class="topics__item">
                <a class="topics__link" href={topic.url} onclick={redirectToArticlesFromLink}>{topic.name}</a>
            </div>
        </template>
    </div>
</template>