<template>
    <lightning-tabset variant="scoped">
        <lightning-tab label={label.ViewCurrentPermissions}>
            <c-existing-shares record-id={recordId}></c-existing-shares>
        </lightning-tab>
        <lightning-tab label={label.AddNewPermission}>
            <c-add-new-shares record-id={recordId}></c-add-new-shares>
        </lightning-tab>
    </lightning-tabset>
</template>