.slds-progress {
    margin-bottom: 16px;
    max-width: unset;
    z-index: 0;
    width: 118%;
    transform: translateX(-7.5%);
}

.slds-progress__marker {
    background: #C8C8C8;
    border: none;
    height: 10px;
    width: 10px;
}

.slds-progress__list {
    color: #787878;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.slds-progress__list > div {
    display: table-cell;
    position: relative;
    text-align: center;
    font-size: 0;
}

.slds-progress__list > div:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #c8c8c8;
    position: absolute;
    right: 50%;
    top: 9px;
    z-index: -1;
}

.slds-progress__list > div:first-child:after {
    display: none;
}

.slds-progress__list .is-active {
    color: #B62E5F;
    font-weight: bold;
}

.slds-progress__list .is-active:after {
    background-color: #B62E5F;
}

.slds-progress__marker_icon {
    width: 20px;
    height: 20px;
    background: #B62E5F;
    color: white;
}

.slds-has_warning .is-active {
    color: #D7425E;
    font-weight: bold;
}

.slds-has_warning .is-active:after {
    background-color: #D7425E;
}

.slds-has_warning .slds-progress__marker_icon {
    width: 20px;
    height: 20px;
    background: #D7425E;
    color: white;
}

.slds-label {
    bottom: -28px;
    font-size: 13px;
    height: 20px;
    left: 50%;
    line-height: 1.4;
    position: absolute;
    transform: translateX(-50%);
    width: 90px;
}

.statusdef {
    margin-top: 64px;
    margin-bottom: -32px;
}

.statusdef__button {
    align-items: center;
    background: none;
    border: none;
    color: #B62E5F;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
}

.statusdef__button:hover {
    text-decoration: underline;
}

.statusdef__button span {
    font-size: 16px;
    margin-right: 6px;
}

@media screen and (max-width: 48em) {

    .slds-label {
        font-size: 12px;
        width: 80px;
    }
}