<template>
    <template if:true={componentReady}>
        <div class="slds-progress" aria-label={ariaLabelForCurrentValue}>
            <div class={progressListStyleClass} aria-hidden="true">
                <template for:each={options} for:item="option" for:index="optionIndex">
                    <div key={option.label} class={option.stepStyleClass}>
                        <div class={option.markerStyleClass} title={option.label}>
                            <template if:true={option.isCompleted}>
                                <lightning-icon class="slds-button__icon slds-current-color"
                                                icon-name="utility:check"
                                                size="xx-small"></lightning-icon>
                            </template>
                            <template if:true={option.isActive}>
                                <template if:true={hasWarning}>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2.523" height="12.169"
                                         viewBox="0 0 2.523 12.169">
                                        <path data-name="Path 1295"
                                              d="M2.133-3.138,1.527-9.313v-2.855H4.051v2.855l-.6,6.176ZM1.627,0V-2.333H3.959V0Z"
                                              transform="translate(-1.527 12.169)" fill="#fff"></path>
                                    </svg>
                                </template>
                                <template if:false={hasWarning}>
                                    <template if:false={option.isRejected}>
                                        <lightning-icon class="slds-button__icon slds-current-color"
                                                        icon-name="utility:check"
                                                        size="xx-small"></lightning-icon>
                                    </template>
                                    <template if:true={option.isRejected}>
                                        <lightning-icon class="slds-button__icon slds-current-color"
                                                        icon-name="utility:close"
                                                        size="xx-small"></lightning-icon>
                                    </template>
                                </template>
                            </template>
                            <div class="slds-assistive-text">{option.label}</div>
                        </div>
                        <template if:true={showLabels} key={option.label}>
                            <span class="slds-label" key={option.value}>
                                {option.label}
                            </span>
                        </template>
                    </div>
                </template>
            </div>
        </div>
        <template if:true={statusDefinitions}>
            <div class="statusdef" if:true={showStatusDefinitions}>
                <button class="statusdef__button" onclick={handleCheckStatusDefinitions}>
                    <span class="mdi mdi-information"></span>
                    {labels.checkStatusDefinitions}
                </button>
            </div>
        </template>
        <c-lsb_-modal>
        </c-lsb_-modal>
    </template>
</template>