.chatMessage {
    font-size: 14px !important;
    font-color: black;
    max-width: 70%;
    padding: 10px;
    white-space: pre-wrap;
    text-align: left;
}

.chasitor {
    color: #FFF;
    background: #901F82;
    margin-left: auto;
    border-radius: 10px 10px 0;
    float: right;
}

.agent {
    margin-left: 40px;
    border-radius: 10px 10px 10px 0;
    float: left;
}

.agent.plainText {
    color: #333;
    background: #f4f4f4;
}

.articleText {
    font-size: 14px !important;
    background: #f4f4f4;
}

.article-link {
    font-size: 14px !important;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

.read-more {
    font-size: 14px !important;
    paddign-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.articleContent {
    font-size: 14px !important;
    margin-top: 0;
    margin-bottom: 0;
}