<template>

    <template if:false={isAgent}>
        <div class="chatMessage chasitor">
            <lightning-formatted-rich-text value={messageContent.value}>
            </lightning-formatted-rich-text>
        </div>
    </template>

    <template if:true={isAgent}>
        <template if:true={isPlainText}>
            <div class="chatMessage agent plainText">
                <lightning-formatted-rich-text value={content}>
                </lightning-formatted-rich-text>
            </div>
        </template>

        <template if:true={isArticleAnswer}>
            <div class="chatMessage agent articleText">
                <template if:true={content}>
                    <p class ="read-more">{labels.infoAboutArticlePrefix}</p></br>
                    <p class ="articleContent">
                        <lightning-formatted-rich-text class="articleContent" value={content}></lightning-formatted-rich-text>
                    </p></br>
                    <template if:true={communityUrl}>
                        <p class ="read-more">{labels.readMoreMessage}</p>
                        <p class="article-link" onclick={handleClick}>{labels.viewArticleMessage}</p>
                    </template>
                </template>
                <template if:false={content}>
                    <p>{labels.noArticleMessage}</p>
                </template>
            </div>
        </template>

    </template>

</template>