<template>
    <lightning-card title={cardTitle}>
        <div slot="actions">
            <lightning-button-group>
                <lightning-button
                    onclick={refreshExisting}
                    label="Refresh"
                ></lightning-button>
                <lightning-button
                    onclick={navBack}
                    label={label.BackButton}
                ></lightning-button>
            </lightning-button-group>
        </div>

        <div class="slds-m-horizontal_medium">
            <c-lightning-sharing-tabs
                record-id={recordId}
            ></c-lightning-sharing-tabs>
        </div>
    </lightning-card>
</template>