<template>

    <div class="chatter" key={message.id}>
        <div class="chatter__message">
            <template if:false={message.isEmail}>
                <span class="message__sender" aria-label={message.ariaLabel}>
                    <img class="message__avatar" src={message.photoUrl} alt="">
                    <span class="message__senderinfo text__small" aria-hidden="true">{message.senderInfo}</span>
                </span>
            </template>
            <template if:true={message.isEmail}>
                <span class="message__sender" aria-label={message.ariaLabel} onclick={expandMessage}>
                    <span class="message__avatar message__avatar--email" aria-hidden="true">
                        <span class="mdi mdi-email"></span>
                    </span>
                    <span class="message__senderinfo text__small" aria-hidden="true">{message.senderInfo}</span>
                </span>
            </template>
            <template if:false={message.isEmail}>
                <div class="message__content text__body" aria-hidden="true">
                    {message.messageBody}
                </div>
            </template>
            <template if:true={message.isEmail}>
                <template if:true={showEmails}>
                    <div class="message__content message__content--email text__body" aria-hidden="true">
                        <lightning-formatted-rich-text
                                value={message.messageBody}>
                        </lightning-formatted-rich-text>
                    </div>
                </template>
            </template>

        </div>
    </div>

</template>