.chatter__message {
    margin-bottom: 32px;
}

.message__content {
    background-color: #f3f3f3;
    border-radius: 4px;
    color: #323232;
    margin: 2px 0 -8px 40px;
    padding: 10px 16px;
    word-break: break-word;
}

.message__content--email {
    background-color: #F8E9EF;
}

.message__sender {
    align-items: center;
    display: flex;
    font-weight: bold;
    width: 100%;
}

.message__avatar {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    position: absolute;
    height: 30px;
    width: 30px;
}

.message__avatar--email {
    background-color: #b62e5f;
}

.message__avatar--email span {
    color: white;
    font-size: 16px;
}

.message__senderinfo {
    line-height: 14px;
    margin: 6px 0 6px 40px;
}