<template>
    <div class="status">
        <div class="status__icon" aria-hidden="true">
            <span class={iconClass}></span>
        </div>
            <h2 class="status__header header__small" if:true={firstParagraph}>{firstParagraph}</h2>
            <p class="status__par text__body" if:true={secondParagraph}>{secondParagraph}</p>
            <p class="status__case-id text__body">Request ID: {caseNumber}</p>
            <p class="status__par text__body" if:true={thirdParagraph}>{thirdParagraph}</p>
    </div>
</template>