.status {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 16px 48px 80px 48px;
}

.status__icon {
    color: #b62e5f;
    font-size: 50px;
    margin-bottom: 16px;
}

.status__header {
    margin-bottom: 24px;
}

.status__par,
.status__case-id  {
    margin-bottom: 16px;
}

@media screen and (max-width: 64em) {

    .status {
        margin: 8px 24px 40px 24px
    }
}