<template>
    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
            <lightning-button
                    variant={variant}
                    label={label}
                    onclick={handleClick}>
            </lightning-button>
        </div>
    </div>
</template>