<template>
    <div class="content nav">
        <ul>
            <template for:each={sectionsList} for:item="singleSection">
                <li key={singleSection.title} class='nav__item' data-id={singleSection.id}>
                    <a tabindex="0" onclick={handleClick} onkeypress={handleKeypress} data-id={singleSection.id}>{singleSection.title} ({singleSection.sectionItems.length})</a>
                </li>
            </template>
        </ul>
    </div>
</template>