.nav {
    background-color: white;
    position: sticky;
    top: 152px;
}

.nav__item {    
    border-left: 1px solid #E6E6E6;
    color: #323232;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 0 8px 20px;
}

.nav__item a {
    color: inherit;
}

.nav__item a:focus {
    text-decoration: none;
}

.nav__item a:hover {
    color: #B62E5F;
    text-decoration: none;
}

.nav__item--selected {
    border-left: 3px solid #B62E5F;
    color: #B62E5F;
    left: -1px;
    position: relative;
}

@media screen and (max-width: 64em) {

    .nav {
        display: none;
    }

}