.header {
    align-items: center;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    margin-top: -16px;
    position: sticky;
    top: 72px;
    padding: 16px 0;
    z-index: 1;
}

.header__button-sort {
    border: none;
    background: none;
    color: #B62E5F;
    display: none;
    font-size: 12px;
    font-weight: bold;
    fill: #B62E5F;
}

.header__button-icon {
    margin-left: 8px;
}

.tile__icon {
    color: #B62E5F;
    font-size: 32px;
    margin-bottom: 16px;
}

.table__header,
.content__row {
    align-items: center;
    display: flex;
}

.table__header {
    align-items: flex-end;
    padding: 8px 32px;
}

.table__header div:first-child {
    margin-left: -32px;
    margin-right: 20px;
    flex: 2 1 0px;
}

.table__header div {
    flex: 1 1 0px;
}

.table__header div:last-child {
    flex: none;
}

.header__icon {
    position: relative;
    bottom: 2px;
    left: 4px;
}

.header__item {
    color: #646464;
    cursor: pointer;
    font-weight: bold;
    padding-right: 12px;
}

.header__item:hover {
    color: #323232
}

/* table body */

.table__content {
    margin-bottom: 64px;
}

.content__row {
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    min-height: 100px;
    margin-bottom: 12px;
    padding: 0 32px;
    cursor: pointer;
    transition: border .2s ease-out;
}

.content__row:hover {
    border-color: #BEBEBE;
}

.content__row:focus:not(:focus-visible) {
    background-color: transparent;
}

.content__container {
    align-items: center;
    background-color: transparent;
    border: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%;
}

.content__container > div {
    flex: 1 1 0px;
    line-height: 18px;
    padding-left: 15px;
}

.content__container > div:first-child {
    font-weight: bold;
    flex: 2 1 0px;
    padding-right: 0;
    padding-left: 0;
}

.content__container > div[data-label="Subject"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #323232;
}

.content__container > div[data-label="Status"] {
    color: #B62E5F;
    font-weight: bold;
    text-align: center;
    line-height: initial;
}

div[data-label="Status"] + .actions__container {
    margin: 0;
}

.content__container > div[data-label="Created Date"] + div[data-label="Status"] > .content__row-closed {
    padding-left: 0;
}

.content__container > div[data-label="Assigned by"] {
    display: block;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content__label-mobile {
    display: none;
}

.assigner__photo {
    margin-right: 8px;
    width: 30px;
    border-radius: 50%;
}

.content__lastcolumn-button {
    min-width: 150px;
}

.content__hidden-column {
    max-width: 157px;
}

.button__icon {
    margin-right: 8px;
}

.actions__container {
    background-color: #F8E9EF;
    border-radius: 4px;
    color: #B62E5F;
    margin-left: 16px;
    min-width: 150px;
}

.actions__container:hover {
    background-color: #F4E0E7;
}

.actions__button {
    align-items: center;
    border: none;
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    justify-content: center;
    padding: 10px 16px;
    width: 100%;
    white-space: nowrap;
}

/* .actions__button:hover {
    background-color: #F4E0E7;
} */

.actions__button:hover {
    background-color: inherit;
}

.actions__button span {
    font-size: 16px;
    margin-right: 8px;
}

/*modal mobile */

.custom-modal__container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.custom-modal__header {
    background-color: white;
    border-radius: 4px 4px 0 0;
    display: flex;
    fill: #B62E5F;
    padding: 30px 30px 14px 30px;
}

.custom-modal__closebutton {
    background-color: transparent;
    border: none;
    margin-left: auto;
    padding: 0;
}

.custom-modal__content {
    background-color: white;
    padding: 0 30px;
    max-height: 600px;
    overflow-y: scroll;
}

.sort__option {
    align-items: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    fill: #B62E5F;
    justify-content: space-between;
    padding: 14px 0;
    width: 100%;
}

.sort__option-active {
    color: #B62E5F;
    font-weight: bold;
}

.content__row-overdue {
    border-color: #F3C6CE;
    border-left: 6px solid #D7425E;
}

.content__row-input-required {
    border-color: #F3C6CE;
    border-left: 6px solid #D7425E;
}

.content__row-overdue:hover,
.content__row-input-required:hover {
    border-color: #D7425E;
}

.content__row-overdue .actions__container,
.content__row-input-required .actions__container {
    background-color: #FBEBEE;
    color: #D7425E
}

.content__row-overdue .actions__container:hover,
.content__row-input-required .actions__container:hover {
    background-color: #F9E3E7;
}

.content__row-hidden {
    width: 330px;
}

.content__row-warning {
    color: #D7425E;
}

.bottom_text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 350px;
    white-space: nowrap;
    font-weight: normal;
    font-size: 11px;
}

/*PLACEHOLDERS*/

.listviewempty {
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-top: 90px;
    padding: 42px;
    text-align: center;
}

.listviewempty__icon {
    color: #C9C9C9;
    font-size: 40px;
    margin-bottom: 6px;
}

.listviewempty__header {
    color: #646464;
    margin-bottom: 12px;
}

/* SUPPORT PROFILE */

.support__profile {
    background-color: white;
    border: 1px solid #E6E6E6;
    border-top: none;
    border-radius: 4px;
    margin-top: -84px;
    padding: 32px;
}

.support__profile .listviewempty {
    margin-top: 0;
}

.support__profile .header,
.support__profile .content__lastcolumn-button  {
    display: none;
}

.support__profile .table__content {
    margin-bottom: 0;
}

.support__profile .table__header {
    border-bottom: 1px solid #E6E6E6;
    padding: 0 0 12px 0;
}

.support__profile .table__header div:first-child {
    flex: 1 1 0px;
    margin: 0;
}

.support__profile .header__item {
    color: #323232;
    flex: 1 1 0px;
}

.support__profile .content__row {
    cursor: default;
    min-height: unset;
    margin-bottom: 0;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #E6E6E6;
}

.support__profile .content__container {
    align-items: flex-start;
    pointer-events: none;
}

.support__profile .content__container > div:first-child {
    flex: 1 1 0px;
    font-weight: normal;
}

@media screen and (max-width: 64em) {

    .header {
        margin-top: -32px;
    }

    .header__button-sort {
        display: block;
    }

    .table__header {
        display: none;
    }

    .content__label-mobile {
        display: block;
        min-width: 65px;
    }

    .content__row {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 24px 30px;
    }

    .content__container {
        align-items: flex-start;
        flex-direction: column;
        padding-left: 0;
    }

    .content__container > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        width: 100%;
        padding-left: 0;
        line-height: inherit;
        letter-spacing: inherit;
        font-size: 12px;
        color: inherit;
    }

    .content__container > div[data-label="Subject"] {
        display: block;
        font-size: 14px;
        margin-bottom: 24px;
        overflow: visible;
        white-space: normal;
        width: 100%;
    }

    .content__container > div[data-label="Assigned By"] {
        margin-right: 0;
    }

    .content__container > div[data-label="Subject"] .content__label-mobile,
    .assigner__photo {
        display: none;
    }

    .content__container > div[data-label="Status"] {
        border-top: 1px solid #E6E6E6;
        display: block;
        font-size: 14px;
        margin: 12px -32px 0 -32px;
        padding: 24px 20% 0 20%;
        width: calc(100% + 64px);
    }

    .content__container > div[data-label="Status"] .content__label-mobile {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 12px;
        color: #646464;
    }

    .content__lastcolumn-icon {
        display: none;
    }

    .content__lastcolumn-button {
        margin-bottom: -24px;
        margin-top: 24px;
        width: calc(100% + 60px);
    }

    .actions__container {
        margin: 24px 0 0 0;
        width: 100%;
    }

    .actions__container-hidden, .content__hidden-column {
        display: none;
    }

    .actions__button span {
        display: none
    }

    .content__row-closed {
        text-align: center;
        padding-left: 0;
    }

    .bottom_text {
        margin-top: 6px;
    }

    .support__profile {
        margin-top: -64px;
        padding: 24px;
    }

    .support__profile .content__container > div {
        flex-direction: column;
    }

    .support__profile .content__container > div:last-child {
        margin-bottom: 0;
    }

    .support__profile .content__label-mobile {
        font-weight: bold;
    }
}