<template>
    <div class={styleClass}>
        <template if:false={componentReady}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>
        <template if:true={componentReady}>
            <template if:true={records.length}>
                <div class="header">
                    <h2 if:true={listViewHeader} class="header__small">{listViewHeader}</h2>
                    <button class="header__button-sort" onclick={openSortPicklist}>
                        {labels.sortBy}
                        <lightning-icon class="header__button-icon slds-current-color" icon-name="utility:slider"
                                        size="xx-small"></lightning-icon>
                    </button>
                </div>
                <div class="table__header" aria-hidden="true">
                    <template for:each={columns} for:item="column" for:index="columnIndex">
                        <div if:false={column.hidden} class="header__item" key={column.fieldNameOrPath}
                             data-index={columnIndex}
                             onclick={sortColumn}>
                            {column.label}
                            <template if if:true={column.sortable}>
                                <template if:true={column.sortBy}>
                                    <template if:true={column.sortUp}>
                                        <lightning-icon class="header__icon" icon-name="utility:arrowup"
                                                        size="xx-small"></lightning-icon>
                                    </template>
                                    <template if:false={column.sortUp}>
                                        <lightning-icon class="header__icon" icon-name="utility:arrowdown"
                                                        size="xx-small"></lightning-icon>
                                    </template>
                                </template>
                            </template>
                        </div>
                    </template>
                    <div class="content__lastcolumn-button"></div>
                </div>
                <ul class="table__content">
                    <template for:each={records} for:item="record" for:index="recordIndex">
                        <li class={record.contentRowStyle} key={record.id}>
                            <button tabindex={tabIndex} class="content__container text__small" data-index={record.id}
                                    onclick={handleRowClick}>
                                <template for:each={record.fields} for:item="field" for:index="fieldIndex">
                                    <div if:false={field.column.hidden} data-label={field.column.label}
                                         aria-label={field.ariaLabel}
                                         key={field.fieldApiName}>
                                        <div class="content__label-mobile">
                                            {field.column.label}
                                        </div>
                                        <template if:true={field.isStatus}>
                                            <template if:true={showStatusIndicator}>
                                                <template if:false={field.isClosed}>
                                                    <c-lsb_-progress-indicator field-api-name={field.fieldApiName}
                                                                               object-api-name={objectApiName}
                                                                               has-warning={record.hasWarning}
                                                                               record-type-developer-name={record.recordTypeDeveloperName}
                                                                               current-value={field.value}>
                                                    </c-lsb_-progress-indicator>
                                                </template>
                                            </template>
                                            <template if:true={isTask}>
                                                <template if:true={record.isTaskCompleted}>
                                                    <div class="content__row-closed">
                                                        {labels.closed}
                                                    </div>
                                                </template>
                                                <template if:true={record.isTaskOverdue}>
                                                    <div class="content__row-warning">
                                                        {labels.taskOverdue}
                                                    </div>
                                                </template>
                                                <template if:true={record.isTaskOpenAndNotOverdue}>
                                                    <template if:true={field.displayValue}>
                                                        {field.displayValue}
                                                    </template>
                                                    <template if:false={field.displayValue}>
                                                        {field.value}
                                                    </template>
                                                </template>
                                            </template>
                                            <template if:true={isCase}>
                                                <template if:true={record.isCaseResponded}>
                                                    <div class="content__row-warning">
                                                        {labels.inputRequired}
                                                    </div>
                                                </template>
                                                <template if:true={record.isCaseClosed}>
                                                    <div if:false={record.isEcCase} class="content__row-closed">
                                                        {labels.closed}
                                                    </div>
                                                    <div if:true={record.isEcCase}>
                                                        <template if:true={field.displayValue}>
                                                            {field.displayValue}
                                                        </template>
                                                        <template if:false={field.displayValue}>
                                                            {field.value}
                                                        </template>
                                                    </div>
                                                </template>
                                                <template if:false={record.isCaseClosed}>
                                                    <template if:false={record.isCaseResponded}>
                                                        <template if:true={field.displayValue}>
                                                            {field.displayValue}
                                                        </template>
                                                        <template if:false={field.displayValue}>
                                                            {field.value}
                                                        </template>
                                                    </template>
                                                </template>
                                            </template>
                                            <template if:true={isOther}>
                                                <template if:true={field.displayValue}>
                                                    {field.displayValue}
                                                </template>
                                                <template if:false={field.displayValue}>
                                                    {field.value}
                                                </template>
                                            </template>
                                        </template>
                                        <template if:true={field.isReference}>
                                            <template for:each={field.values} for:item="relatedField"
                                                      for:index="relatedFieldIndex">
                                                <template if:true={relatedField.isNormal}>
                                                    <template if:true={relatedField.displayValue}>
                                                        {relatedField.displayValue}&nbsp;
                                                    </template>
                                                    <template if:false={relatedField.displayValue}>
                                                        {relatedField.value}&nbsp;
                                                    </template>
                                                </template>
                                                <template if:true={relatedField.isUrl}>
                                                    <a key={relatedField.column.fieldNameOrPath}
                                                       href={relatedField.value}
                                                       target=_blank>{relatedField.value}</a>
                                                </template>
                                                <template if:true={relatedField.isPhoto}>
                                                    <img class="assigner__photo"
                                                         key={relatedField.column.fieldNameOrPath}
                                                         src={relatedField.value}>
                                                </template>
                                            </template>
                                        </template>
                                        <template if:false={field.isReference}>
                                            <template if:true={field.isNormal}>
                                                <template if:true={field.displayValue}>
                                                    {field.displayValue}
                                                </template>
                                                <template if:false={field.displayValue}>
                                                    {field.value}
                                                </template>
                                                <template if:true={field.bottomText}>
                                                    <br/>
                                                    <div class="bottom_text">
                                                        {field.bottomText}
                                                    </div>
                                                </template>
                                            </template>
                                            <template if:true={field.isUrl}>
                                                <a href={field.value} target=_blank>{field.value}</a>
                                            </template>
                                            <template if:true={field.isPhoto}>
                                                <img src={field.value}>
                                            </template>
                                        </template>
                                    </div>
                                </template>
                                <template if:true={isCase}>
                                    <template if:true={record.isCaseClosed}>
                                        <div class="content__hidden-column"></div>
                                    </template>
                                </template>
                            </button>
                            <template if:true={isTask}>
                                <template if:true={showTaskCompleteAction}>
                                    <template if:false={record.isTaskCompleted}>
                                        <div class="actions__container">
                                            <button class="actions__button" onclick={handleCompleteTask}
                                                    title={labels.markComplete} data-index={record.id}>
                                                <span class="mdi mdi-check"></span>
                                                {labels.markComplete}
                                            </button>
                                        </div>
                                    </template>
                                    <template if:true={record.isTaskCompleted}>
                                        <div class="actions__container actions__container-hidden">
                                        </div>
                                    </template>
                                </template>
                            </template>
                            <template if:true={isCase}>
                                <template if:false={record.isCaseClosed}>
                                    <c-lsb_-withdraw-case record-id={record.id} class="actions__container">
                                    </c-lsb_-withdraw-case>
                                </template>
                            </template>
                        </li>
                    </template>
                </ul>
            </template>
            <template if:true={showStaticText}>
                <div class="listviewempty">
                    <div class="listviewempty__icon" aria-hidden="true" if:true={icon}>
                        <span class={iconClass}></span>
                    </div>
                    <p class="listviewempty__header header__body">
                        <lightning-formatted-text value={emptyTableHeader}></lightning-formatted-text>
                    </p>
                    <p class="listviewempty__subtitle text__body">
                        <lightning-formatted-text value={emptyTableDesc}></lightning-formatted-text>
                    </p>
                </div>
            </template>
        </template>
    </div>
    <c-lsb_-modal onsubmitmodal={handleTaskSubmit}>
    </c-lsb_-modal>
    <template if:true={showSortPicklist}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                 aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div tabindex="0" class="custom-modal__container" data-id="sort-options--modal">
                <header class="custom-modal__header header__small">
                    {labels.sortOptions}
                    <button aria-label="Close sort options" class="custom-modal__closebutton"
                            onclick={closeSortPicklist}>
                        <lightning-icon class="slds-current-color" icon-name="utility:close"
                                        size="xx-small"></lightning-icon>
                    </button>
                </header>
                <div class="custom-modal__content" id="modal-content-id-1">
                    <template for:each={columns} for:item="column" for:index="columnIndex">
                        <div if:false={column.hidden} data-index={columnIndex} key={column.fieldNameOrPath}>
                            <template if:true={column.sortable}>
                                <template if:true={column.sortBy}>
                                    <template if:true={column.sortUp}>
                                        <button class="sort__option text__body" onclick={onSortBy}
                                                data-index={columnIndex}
                                                data-sort-up="false">
                                            {column.label}&nbsp;{labels.sortDescending}
                                        </button>
                                        <button class="sort__option sort__option-active text__body" onclick={onSortBy}
                                                data-index={columnIndex} data-sort-up="true">
                                            {column.label}&nbsp;{labels.sortAscending}
                                            <lightning-icon class="slds-current-color" icon-name="utility:check"
                                                            size="xx-small"></lightning-icon>
                                        </button>
                                    </template>
                                    <template if:false={column.sortUp}>
                                        <button class="sort__option sort__option-active text__body" onclick={onSortBy}
                                                data-index={columnIndex} data-sort-up="false">
                                            {column.label}&nbsp;{labels.sortDescending}
                                            <lightning-icon class="slds-current-color" icon-name="utility:check"
                                                            size="xx-small"></lightning-icon>
                                        </button>
                                        <button class="sort__option text__body" onclick={onSortBy}
                                                data-index={columnIndex}
                                                data-sort-up="true">
                                            {column.label}&nbsp;{labels.sortAscending}
                                        </button>
                                    </template>
                                </template>
                                <template if:false={column.sortBy}>
                                    <button class="sort__option text__body" onclick={onSortBy} data-index={columnIndex}
                                            data-sort-up="false">
                                        {column.label}&nbsp;{labels.sortDescending}
                                    </button>
                                    <button class="sort__option text__body" onclick={onSortBy} data-index={columnIndex}
                                            data-sort-up="true">
                                        {column.label}&nbsp;{labels.sortAscending}
                                    </button>
                                </template>
                            </template>
                        </div>
                    </template>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>