.bannercustom {
    align-items: flex-start;
    display: flex;
}

.banner__icon {
    align-items: center;
    background-color: #B62E5F;
    border-radius: 50%;
    display: flex;
    height: 36px;
    justify-content: center;
    margin-right: 16px;
    min-height: 36px;
    min-width: 36px;
    width: 36px;
}

.bannercustom__text {
    color: #323232;
}

.banner__icon span {
    color: white;
    font-size: 19px;
}

@media screen and (max-width: 64em) {

    .banner__icon {
        display: none;
    }

    .content:last-child {
        margin-bottom: 32px;
    }
}