<template>
    <div class="content bannercustom">
        <div class="banner__icon" aria-hidden="true">
            <span class={iconClass}></span>
        </div>
        <p class="text__body bannercustom__text">{labels.PLAN_TITLE}</p>
    </div>
</template>