<template>
    <div class="noresults">
        <div class="noresults__icon" aria-hidden="true">
            <span class={iconClass}></span>
        </div>
        <h2 class="noresults__header header__medium">{headerText}</h2>
        <p class="noresults__text text__body">{messageText}</p>
    </div>
</template>