.noresults {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 5% auto 0 auto;
}

.noresults__icon {
    color: #6E6E6E;
    font-size: 50px;
    margin-bottom: 16px;
}

.noresults__header {
    color: #6E6E6E;
    margin-bottom: 24px;
    text-align: center;
}

.noresults__text {
    color: #6E6E6E;
    text-align: center;
}

@media screen and (max-width: 64em) {

    .noresults {
        margin: 10% auto 0 auto;
        width: 85%;
    }

}