<template>
    <div class="slds-grid slds-grid_pull-padded-large">
        <div class="slds-col slds-size_1-of-1 slds-large-size_12-of-12 slds-p-horizontal_large" >
            <div class="slds-grid slds-wrap scroll_div">
                <div class="slds-col slds-size_12-of-12" >
                    <div class="chart_container" >
                        <canvas height="500" width="900" class="radarChart" aria-hidden="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>