.bg__container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    height: 400px;
    left: 50%;
    right: 50%;
    margin: -12px -50vw 16px -50vw;
    padding: 0;
    position: relative;
    width: 100vw;
}

.bg__content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
    height: 100%;
    padding: 0 24px;
}

.bg__homeheader {
    color: white;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.21px;
    line-height: 34px;
}

.bg__homeheader--small {
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.16px;
    margin-bottom: 20px;
}

@media screen and (max-width: 64em) {

    .bg__container {
        margin-bottom: -38px;
    }

    .bg__header {
        width: 75%;
    }

    .bg__homeheader {
        font-size: 26px;
        letter-spacing: 0.16px;
        width: 75%;
    }

    .bg__homeheader--small {
        font-size: 16px;
        letter-spacing: 0.1px;
    }
}

@media screen and (max-width: 47.9375em) {

    .bg__container {
        background-position: 70% 50%;
        height: 60vh;
        margin-bottom: -72px;
    }

    .bg__content {
        padding: 32px;
    }
}