<template>
    <div class="bg__container" style={backgroundStyle} >
        <div class="bg__content">
            <template if:true={firstName}>
            <h1 class="bg__homeheader bg__homeheader--small">{labels.salutation} {firstName},</h1>
            </template>
            <h1 class="bg__homeheader">{labels.message}</h1>
        </div>
    </div>
</template>