.content {
    padding-bottom: 0;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width: 64em) {

    .content {
        padding-left: 16px;
    }

    .content:last-child {
        margin-bottom: 32px;
    }

    .row-reverse {
        display: block;
    }
}