<template>
    <div class="slds-grid slds-grid_pull-padded-large row-reverse">
        <template if:false={sectionData.length}>
            <div class="slds-col slds-size_12-of-12 slds slds-p-horizontal_large">
                <c-lsb_-comm-self-assessment-no-result header-text={labels.NO_RESULT_HEADER} message-text={labels.ABOUT_ME_NO_RESULT_ERROR}></c-lsb_-comm-self-assessment-no-result>
            </div>
        </template>
        <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12 slds-p-horizontal_large"
        if:true={sectionData.length}>
       <c-lsb_-comm-self-assessment-nav-bar sections-list={sections}
                                            onchoose={handleSectionChoose}></c-lsb_-comm-self-assessment-nav-bar>
        </div>   
        <div if:true={sectionData.length}
             class="slds-col slds-size_1-of-1 slds-large-size_8-of-12 slds-p-horizontal_large">
            <div class="slds-grid slds-wrap scroll_div">
                <template if:true={hasTile}>
                    <div class="slds-col slds-size_12-of-12">
                        <c-lsb_-comm-self-assessment-tile></c-lsb_-comm-self-assessment-tile>
                    </div>
                </template>
                <div class="slds-col slds-size_12-of-12">
                    <template for:each={sectionData} for:item="section">
                        <section class="section_div" key={section.id} data-id={section.id} id={section.id}>
                            <div>
                                <h2 class="header__small">{section.title}</h2>
                                <div class="content">
                                    <template if:false={isQuestionnaire}>
                                        <template for:each={section.sectionItems} for:item="item">
                                            <div key={item} style="height: 100px;">{item.itemTitle}</div>
                                        </template>
                                    </template>
                                    <template if:true={isQuestionnaire}>
                                        <c-lsb_-comm-self-assessment-section is-mobile={isMobile}
                                                                             section-items={section.sectionItems}>
                                        </c-lsb_-comm-self-assessment-section>
                                    </template>
                                </div>
                            </div>
                        </section>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>