.forceCommunityContactSupportConfirmation {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.enquiry__icon {
    color: #B62E5F;
    font-size: 50px;
    margin: 16px 0;
}

.enquiry__header {
    margin-bottom: 16px;
}

.enquiry__text {
    text-align: center;
    margin-bottom: 16px;
}

.enquiry__link {
    margin-left: 4px;
}

.enquiry__attachment {
    margin-top: 42px;
    width: 100%;
}