<template>
    <template if:false={isSuccessful}>
        <h2 class="header__small--community">
            <lightning-formatted-rich-text value={title}></lightning-formatted-rich-text>
        </h2>
        <template if:true={isSubmitting}>
            <lightning-spinner size="medium"></lightning-spinner>
        </template>
        <div class="content">
            <lightning-record-edit-form object-api-name="Case" onsubmit={handleSubmit} onsuccess={handleSuccess} onerror={handleError} record-type-id={enquiryRecordTypeId}>
                <lightning-messages>
                </lightning-messages>
                <lightning-input-field class="header__body--community" field-name="LSB_CAS_NatureOfEnquiry__c" required="true">
                </lightning-input-field>
                <lightning-input-field class="header__body--community" field-name="LSB_CAS_Topic__c" onchange={handleChange} required="true">
                </lightning-input-field>
                <template if:false={isStudentDisciplinary}>
                    <div class="slds-m-vertical_medium">
                        <lightning-input-field class="header__body--community" field-name="Description" required="true" onchange={itemsChange}>
                        </lightning-input-field>
                    </div>
                </template>
                <template if:true={isStudentDisciplinary}>
                    <div class="slds-m-vertical_medium">
                        <lightning-formatted-text value={labels.helpText}></lightning-formatted-text>
                    </div>
                    <div class="slds-m-vertical_medium">
                        <lightning-input-field field-name="LSB_CAS_DateTimeOfIncident__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="LSB_CAS_LocationOfIncident__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="LSB_CAS_NameOfWitness__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="LSB_CAS_TreatThisReportAsConfidential__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="LSB_CAS_IfConfidentialPleaseExplainWhy__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="LSB_CAS_NameOfStudentWhoCausedIncident__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="LSB_CAS_StudentIdOfThisStudent__c">
                        </lightning-input-field>
                        <label for="fieldId" class="slds-form-element__label">Describe the incident in your own
                            words</label>
                        <lightning-input-field id="fieldId" field-name="Description" variant="label-hidden" required="true"
                                               onchange={itemsChange}>
                        </lightning-input-field>
                    </div>
                </template>
                <lightning-button
                        class="enquiry__button"
                        variant="brand"
                        type="submit"
                        label={labels.button}
                        disabled={isSubmitting}>
                </lightning-button>
                <lightning-input-field class="slds-hidden" field-name="LSB_CAS_ContactRole__c" value={contactRole}>
                </lightning-input-field>
            </lightning-record-edit-form>
        </div>
    </template>
    <template if:true={isSuccessful}>
        <h2 class="header__small--community">
            <lightning-formatted-rich-text value={title}></lightning-formatted-rich-text>
        </h2>
        <div class="content">
            <div class="forceCommunityContactSupportConfirmation">
                <span class="enquiry__icon mdi mdi-checkbox-marked-circle-outline"></span>
                <h2 class="enquiry__header header__small--community">
                    <lightning-formatted-text value={labels.caseWasCreated}></lightning-formatted-text>
                </h2>
                <div class="enquiry__text text__body--community">
                    <lightning-formatted-text value={labels.weGetBackToYouSoon}></lightning-formatted-text>
                </div>
            </div>
            <div class="forceCommunityContactSupportConfirmation">
                <h2 class="requestSummaryHeader header__small--community">
                </h2>
                <div class="enquiry__text text__body--community">
                    <lightning-formatted-text value={labels.requestId}></lightning-formatted-text>
                    <a class="enquiry__link" onclick={handleClick}>{caseNumber}</a>
                </div>
                <div class="enquiry__text text__body">
                    <lightning-formatted-text value={labels.uploadFileMessage}></lightning-formatted-text>
                </div>
                <div class="enquiry__attachment">
                    <c-lsb_-attachments-component parent-record-id={myRecordId}></c-lsb_-attachments-component>
                </div>
            </div>
        </div>
    </template>
</template>