.response {
    margin-bottom: 32px;
}

.response__header {
    display: flex;
    pointer-events: none;
    font-weight: bold;
    line-height: 20px;
}

.response__header span {
    color: #B62E5F;
    display: none;
    font-size: 21px;
    margin-right: 6px;
}

.response__description {
    margin-bottom: 12px;
}

.response__body__show {
    display: block;
    margin-top: 6px;
}

.response__body__hide {
    display: none;
}

@media screen and (max-width: 64em) {

    .response {
        margin-bottom: 24px;
    }

    .response__header {
        pointer-events: all;
    }

    .response__header span {
        display: block;
    }

    .response__body__show  {
        margin-top: 8px;
        padding-left: 26px;
    }

}