<template>
    <div class="response">
        <h3 class="header__body response__header" onclick={handleHeaderClick}>
            <span class={iconClass}></span>
            <template if:false={isQuestionnaire}>{assessmentResponse.LSB_SAR_QuestionChoiceAnswer__c}</template>
            <template if:true={isQuestionnaire}>
                {assessmentResponse.LSB_SAR_SelfAssessmentQuestion__r.LSB_SAQ_SurveyQuestionFullQuestion__c}
            </template>
        </h3>
        <div class={hidingClass}>
            <template if:false={isQuestionnaire}>
                <p class="response__description text__body">
                    {assessmentResponse.LSB_SAR_QuestionChoiceAnswerExplanation__c}
                </p>
                <a class="response__link button__hyperlink"
                   tabindex="0" onclick={handleClick}>
                    {labels.FIND_OUT_MORE}
                    <span class="mdi mdi-arrow-right"></span>
                </a>
            </template>
            <template if:true={isQuestionnaire}>
                <template
                        if:true={assessmentResponse.LSB_SAR_SelfAssessmentQuestion__r.SelfAssessmentQuestion_Choices__r}>
                    <lightning-radio-group
                            variant="label-hidden"
                            options={assessmentResponse.choices}
                            data-index={assessmentResponse.Id}
                            value={assessmentResponse.LSB_SAR_SelfAssessmentQuestionChoice__c}
                            onchange={handleRadioInputChange}
                            type="radio"></lightning-radio-group>
                </template>
                <template
                        if:false={assessmentResponse.LSB_SAR_SelfAssessmentQuestion__r.SelfAssessmentQuestion_Choices__r}>
                    <lightning-textarea
                            variant="label-hidden"
                            data-index={assessmentResponse.Id}
                            value={assessmentResponse.LSB_SAR_ResponseValue__c}
                            maxlength="32768"
                            onchange={handleTextInputChange}>
                    </lightning-textarea>
                </template>
            </template>
        </div>
    </div>
</template>