<template>
<!--    <c-lsb_-combobox-->
<!--            record-id={typeAttributes.recordId}-->
<!--            field-name={typeAttributes.fieldName}-->
<!--            value={value}-->
<!--            variant="label-hidden"-->
<!--            placeholder="Choose your option"-->
<!--            options={typeAttributes.options}>-->
<!--    </c-lsb_-combobox>-->
    <c-lsb_-radio-buttons-select
            record-id={typeAttributes.recordId}
            field-name={typeAttributes.fieldName}
            field-label={typeAttributes.fieldLabel}
            selected-option={value}
            options={typeAttributes.options}>
    </c-lsb_-radio-buttons-select>
</template>