<template>
    <div class="results__header" aria-hidden="true">
        <div class="results__headeritem header__body">{labels.previousYearResultsModule}</div>
        <div class="results__headeritem header__body">{labels.previousYearResultsModuleOutcome}</div>
        <div class="results__headeritem header__body">{labels.previousYearResultsMarks}</div>
        <div class="results__headeritem header__body">{labels.previousYearResultsSemester}</div>
        <div class="results__headeritem header__body">{labels.previousYearResultsAttempt}</div>
        <div class="results__headeritem header__body">{labels.previousYearResultsResit}</div>
        <div class="results__headeritem header__body">{labels.previousYearResultsModuleCredits}</div>
    </div>
    <ul class="results__content">
        <template for:each={_previousYearResults} for:item="module" for:index="moduleIndex">
            <li key={module.moduleName} class="results__row">
                <!--Modules-->
                <button class={module.styleClass} data-index={moduleIndex} onclick={toggleExpand} aria-expanded={module.isExpanded}>
                    <div class="results__item header__body" data-label={labels.previousYearResultsModule}>
                        <span if:true={module.isExpanded} class="mdi mdi-chevron-down results__icon" aria-hidden="true"></span>
                        <span if:false={module.isExpanded} class="mdi mdi-chevron-right results__icon" aria-hidden="true"></span>
                        {module.moduleName}
                    </div>
                    <div class="results__item text__body" data-label={labels.previousYearResultsModuleOutcome}>
                        <template if:true={module.outcome}>{labels.previousYearResultsModulePass}</template>
                        <template if:false={module.outcome}>{labels.previousYearResultsModuleFail}</template>
                    </div>
                    <div class="results__item text__body" data-label={labels.previousYearResultsMarks}>
                        <span if:true={module.isExpanded} class="mdi mdi-chevron-down results__icon results__icon--marks" aria-hidden="true"></span>
                        <span if:false={module.isExpanded} class="mdi mdi-chevron-right results__icon results__icon--marks" aria-hidden="true"></span>
                        <div class="results__item--highlighted">{module.marks}</div>
                    </div>
                    <div class="results__mobile" if:true={module.isExpanded}>
                        <template for:each={module.courseworkAndExams} for:item="courseWork"
                                  for:index="courseWorkIndex">
                            <div class="results__row--detailed" key={courseWork.name}>
                                <div class="results__item text__body">{courseWork.name}</div>
                                <div class="results__item results__item--empty text__body"></div>
                                <div class="results__item text__body"><div class="results__item--highlighted">{courseWork.grade}</div></div>
                                <div class="results__item results__item--empty text__body"></div>
                                <div class="results__item results__item--empty text__body"></div>
                                <div class="results__item results__item--empty text__body"></div>
                                <div class="results__item results__item--empty text__body"></div>
                            </div>
                        </template>
                    </div>
                    <div class="results__item text__body" data-label={labels.previousYearResultsSemester}>{module.semester}</div>
                    <div class="results__item text__body" data-label={labels.previousYearResultsAttempt}>{module.attempts}</div>
                    <div class="results__item text__body" data-label={labels.previousYearResultsResit}>{module.resit}</div>
                    <div class="results__item text__body" data-label={labels.previousYearResultsModuleCredits}>{module.credits}</div>
                </button>
                <div class="results__desktop" if:true={module.isExpanded}>
                    <template for:each={module.courseworkAndExams} for:item="courseWork"
                              for:index="courseWorkIndex">
                        <div class="results__row--detailed" key={courseWork.name}>
                            <div class="results__item text__body"><span class="results__icon"></span>{courseWork.name}</div>
                            <div class="results__item results__item--empty text__body"></div>
                            <div class="results__item text__body"><div class="results__item--highlighted">{courseWork.grade}</div></div>
                            <div class="results__item results__item--empty text__body"></div>
                            <div class="results__item results__item--empty text__body"></div>
                            <div class="results__item results__item--empty text__body"></div>
                            <div class="results__item results__item--empty text__body"></div>
                        </div>
                    </template>
                </div>
            </li>
        </template>
    </ul>
</template>