.module__expanded,
.module__collapsed {
    align-items: center;
    display: flex;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    padding: 0;
}

.module__failed {
    color: #B62E5F;
}

.results__header {
    display: flex;
    margin-top: 18px;
    padding: 6px 0;
}

.results__row {
    border-top: 1px solid #E6E6E6;
    cursor: pointer;
    padding: 12px 0;
    transition: all .2s ease-in-out;
}

.results__row:hover {
    background-color: #fbfbfb;
}

.results__row:last-of-type {
    border-bottom: 1px solid #E6E6E6;
}

.results__row--detailed {
    display: flex;
    padding: 6px 0 6px 20px;
}

.results__row--detailed:first-of-type {
    padding-top: 12px; 
}

.results__row--detailed .results__item:first-of-type {
    margin-right: -20px;
}

.results__row--detailed:last-of-type {
    padding-bottom: 0;
}

.results__icon {
    color: #B62E5F;
    font-size: 19px;
    margin-right: 6px;
    position: relative;
    top: 1px;
}

.results__icon--marks {
    display: none;
}

.results__headeritem,
.results__item {
    flex: 1 1 0;
}

.results__headeritem:first-of-type,
.results__item:first-of-type {
    flex: 2 1 0;
}

.results__item {
    font-weight: normal;
}

.results__item:first-of-type {
    font-weight: bold;
}

.results__item--highlighted {
    background-color: #B62E5F;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    min-width: 42px;
    padding: 0 12px;
    text-align: center;
    width: fit-content;
}

.results__row .results__item {
    color: inherit;
}

.results__row--detailed .results__item {
    font-weight: normal;
}

.results__row--detailed .results__item--highlighted {
    background-color: white;
    border: 1px solid #B62E5F;
    color: #B62E5F;
}

.results__desktop {
    display: block;
}

.results__mobile {
    display: none;
}

@media screen and (max-width: 64em) {

    .module__expanded,
    .module__collapsed {
        align-items: flex-start;
        flex-direction: column;
    }

    .results__row:hover {
        background-color: transparent;
    }

    .results__row:first-of-type {
        margin-top: 24px;
    }

    .results__row--detailed,
    .results__row--detailed:first-of-type {
        padding: 0 0 0 20px;
    }

    .results__item,
    .results__mobile {
        display: flex;
        padding: 6px 0;
        width: 100%;
    }

    .results__mobile {
        flex-direction: column;
        padding: 0;
    }

    .results__header,
    .results__icon,
    .results__item--empty,
    .results__desktop {
        display: none;
    }

    .results__icon--marks {
        display: flex;
        margin-left: -5px;
        order: -1;
        top: 0;
    }

    .results__item:before {
        content: attr(data-label);
        font-weight: normal;
        margin-right: auto;
    }

    .results__item:first-of-type:before {
        display: none;
    }

}