/**
 * Created by elatoszek001 on 18.09.2020.
 */

.THIS .prechatContent {
    padding: 24px 24px 0 24px;
}

.THIS .startButtonWrapper {
    margin-top: auto;
}

.THIS .noneOption {
    display: none;
}

.THIS .slds-form-element__control {
    display: flex;
}

.THIS .uiInputSelect .inputField,
.THIS .slds-input,
.THIS .slds-style-select {
    border: 1px solid #dddbda;
    border-radius: 2px;
    color: #3A3A3A;
    height: 36px !important;
    margin-bottom: 16px;
    max-width: 100%;
    font-size: 13px !important;
    padding: 0 12px;
    width: 100%;
    -webkit-appearance: none;
}

.THIS input:focus,
.THIS select:focus {
    outline: 0 !important;
    box-shadow: 0 0 0pt 1pt #901F82 !important;
}

.THIS .slds-style-select {
    appearance: none;
    padding: 0px 14px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNzYgMjEwIj48cGF0aCBmaWxsPSIjNTU2OThkIiBkPSJNNTYgNTBoMTY0YzQgMCA4IDYgNCAxMGwtODAgOThjLTMgMy05IDMtMTIgMEw1MiA2MGMtNC00LTEtMTAgNC0xMHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: 96.5% 50%;
    background-size: var(--lwc-fontSizeMedium,0.8125rem) var(--lwc-fontSizeMedium,0.8125rem),100% 100%;
}

.THIS .slds-form-element__label {
    margin-bottom: 4px;
}
    
.THIS .slds-form-element__label {
    color: #646464;
    display: flex;
    font-size: 13px;
    padding: 0;
}

.THIS .uiInput--select.has-error select,
.THIS .inputField.slds-has-error input {
    border: 1px solid #CF181A;
    box-shadow: none;
}
    
.THIS .slds-form-element__help,
.THIS .form-element__help {
    color: #CF181A;
    font-size: 12px;
    margin: -8px 0 24px 0;
}

.THIS .form-element__help {
    margin: -18px 0 24px 0;
}

.THIS .slds-form-element__label .slds-required,
.THIS .slds-form-element__label span.required {
    color: #CF181A;
    margin-right: 4px;
    text-decoration: none;
}

.THIS .slds-form-element__label span:first-child {
    order: 2;
}

.THIS .slds-hide {
    display: none;
}

.THIS .startButtonWrapper {
    padding: 0 24px 16px 24px;
}

.THIS .startButton,
.THIS .startButtonCommunity {
    border: none;
    background: #902082;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 44px;
    width: 100%;
}

.THIS .startButton:hover,
.THIS .startButtonCommunity:hover,
.THIS .startButton:focus,
.THIS .startButtonCommunity:focus {
    background: #902082;
    color: white;
    filter: brightness(1.15);
}

.THIS .startButton:focus,
.THIS .startButtonCommunity:focus {
    text-decoration: underline;
    outline: none;
    box-shadow: none;
}

.THIS .welcome-message {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 24px;
    text-align: center;
}