<apex:component id="LSB_EmailHeader" access="global" controller="LSB_EmailHeaderController">
    <apex:attribute name="HeaderName" description="This is name of header" type="String" assignTo="{!headerTitle}"/>
    <table style="background-size:contain; background-repeat: no-repeat; background-image: url('{!imageUrl}');height: 160px;"
           width="600">
        <tbody>
        <tr>
            <td style="width: 600px;">&nbsp;</td>
        </tr>
        </tbody>
    </table>
</apex:component>