<template>
    <div class="slds-grid slds-gutters_medium slds-wrap">
        <template for:each={members} for:item="member" for:index="memberIndex">
            <div key={member.id}
                 class="slds-col slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                <div class="member" id={member.id}>
                    <img class="member__icon" src={member.photourl}/><br>
                    <template if:true={member.linkedinurl}>
                        <a class="member__link" href={member.linkedinurl} target="_blank">
                            <lightning-icon icon-name="utility:linked" size="xx-small"></lightning-icon>
                        </a>
                    </template>
                    <a class="member__email" href={member.email} target="_blank">
                        <lightning-icon icon-name="utility:email" size="xx-small"></lightning-icon>
                    </a>
                    <h2 class="member__header">{member.firstname} {member.lastname}</h2>
                    <h3 class="member__header">{member.role}</h3>
                    <br>
                    <p class="member__aboutme">
                        {member.aboutme}
                    </p>
                    <br>
                    <div if:true={member.showButton} data-index={memberIndex} onclick={handleToggleAboutme}>
                        <template if:true={member.toggleAboutme}>
                            {labels.showLessButtonLabel}
                        </template>
                        <template if:false={member.toggleAboutme}>
                            {labels.showMoreButtonLabel}
                        </template>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>