.sfdc_input_container {
    margin-bottom:10px;
    padding: 12px;
    background-color:white;
    border: 1px solid #CCC;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}



.main-container .login-input-container .custom-input {
    margin-bottom: 16px;
}