<template>
    <div class="slds-grid slds-wrap main-container">
        <div class="slds-col slds-size_12-of-12 login-input-container">
            <lightning-input
                    type="email"
                    name="username"
                    value={username}
                    placeholder={labels.usernameFieldLabel}
                    variant="label-hidden"
                    class="username custom-input"
                    onchange={handleChange}
                    message-when-value-missing={labels.usernameMissingMessage}
                    required>
            </lightning-input>
        </div>
        <div class="slds-col slds-size_12-of-12 login-input-container">
            <lightning-input
                    type="password"
                    name="password"
                    value={password}
                    placeholder={labels.passwordFieldLabel}
                    variant="label-hidden"
                    class="password custom-input"
                    onchange={handleChange}
                    onkeypress={handleLoginOnKeyPress}
                    message-when-value-missing={labels.passwordMissingMessage}
                    required>
            </lightning-input>
        </div>
    </div>

    <template if:true={errorMessage} >
        <div class="slds-text-color_error">
            <lightning-formatted-rich-text value={errorMessage}></lightning-formatted-rich-text>
        </div>
    </template>

    <div class="slds-grid">
        <div class="slds-col slds-size_12-of-12">
            <lightning-button
                    variant="brand"
                    label={labels.loginButtonLabel}
                    onclick={handleLogin}>
            </lightning-button>
        </div>
    </div>

</template>