.articles__item {
    margin-bottom: 32px;
}

.articles__item:last-child {
    margin-bottom: 0;
}

.articles__header {
    display: flex;
    margin-bottom: 4px;
}

.articles__header span {
    color: #B62E5F;
    font-size: 15px;
    margin-right: 12px;
}

.articles__link {
    align-items: center;
    display: flex;
    margin-left: 27px;
}

.articles__link span {
    font-size: 15px;
    margin-left: 6px;
}