<template>
    <div class="spinner" if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
    <div if:false={emptyList} class="articles">
        <h2 class="articles__header header__small">
            {labels.attachedArticles}
        </h2>
        <ul class="articles content">
            <template for:each={knowledgeArticles} for:item="kav" for:index="kavIndex">
                <li class="articles__item" key={kav.Id}>
                    <p class="articles__header header__body">
                        <span class="mdi mdi-lightbulb-on-outline"></span>
                        {kav.Title}</p>
                    <a href={kav.url} target="_blank" class="articles__link">
                        {labels.readAnswer} 
                        <span class="mdi mdi-arrow-right"></span>
                    </a>
                </li>
            </template>
        </ul>
    </div>
</template>