<template>
    <template if:true={isUserPermitted}>
        <div class="slds-docked_container_align-left">
            <div class="slds-docked-modal_composer slds-grid slds-grid_vertical-align-left slds-grid_align-left slds-is-open"
                 role="dialog" aria-labelledby="dialog-heading-id-1" aria-describedby="dialog-content-id-1">
                <div class="slds-docked-composer__body">
                    <!-- Body -->
                    <template if:true={reports}>
                        <lightning-combobox class="msa__input" data-id="report-picklist" label="Choose report" name="reportPicklist"
                                            dropdown-alignment="auto" onchange={handleChange} options={reports} value=""
                                            required></lightning-combobox>
                        <template if:true={message}>
                            <p>{message}</p>
                        </template>
                        <lightning-input class="msa__input" label={labels.SUBJECT_LABEL} value={subject} disabled={reportNotSelected}
                                         onchange={handleSubjectChange} required ></lightning-input>
                        <lightning-combobox class="msa__input" label={labels.PRIORITY_LABEL} name="priorityPicklist" dropdown-alignment="auto"
                                            onchange={handlePriorityChange} options={priorityOptions} value=""
                                            disabled={reportNotSelected} required ></lightning-combobox>
                        <lightning-input class="msa__input" label={labels.DUE_DATE_LABEL} type="date" value={activityDate} disabled={reportNotSelected}
                                         name="activityDate" data-id="activityDate" onchange={handleActivityDateChange} required ></lightning-input>
                        <lightning-textarea name="comments" label={labels.COMMENTS_LABEL} value={comments} disabled={reportNotSelected}
                                            onchange={handleDescriptiontChange}></lightning-textarea>
                        <!--OWNER LOOKUP -->
                        <div class="slds-combobox_container">
                            <div class={ownerClass}
                                 data-id="resultBox"
                                 aria-expanded="false"
                                 aria-haspopup="listbox"
                                 role="combobox">
                                <div class="slds-form-element__control msa__input"
                                     role="none">
                                    <template if:false={clearIconFlagOwner}>
                                        <lightning-icon
                                                class="msa__icon slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                                icon-name="utility:search"
                                                size="x-small"
                                                alternative-text="icon">
                                        </lightning-icon>
                                    </template>
                                    <template if:true={clearIconFlagOwner}>
                                        <lightning-icon
                                                class="msa__icon slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                                icon-name="utility:clear"
                                                size="x-small"
                                                alternative-text="icon"
                                                onclick={resetOwner}
                                        ></lightning-icon>
                                        <span class="slds-assistive-text">Clear</span></button>
                                    </template>
                                    <lightning-input label={labels.ASSIGNED_BY_LABEL}
                                                     name="searchText"
                                                     data-id="userinput"
                                                     placeholder="Search advisor"
                                                     value={ownerName}
                                                     onchange={searchUsersForSearch}
                                                     disabled={reportNotSelected}>
                                    </lightning-input>
                                </div>

                                <!-- Second part display result -->
                                <div id="listbox-id-3"
                                     class="msa__dropdown slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
                                     role="listbox">
                                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                        <template for:each={ownersList} for:item="user">
                                            <li role="presentation" class="slds-listbox__item" key={user.Id}>
                                                <div data-id={user.Id} data-name={user.Name} onclick={setSearchOwner}
                                                     class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                                     role="option">
                                                    <span class="slds-media__figure">
                                                        <span class="slds-icon_container slds-icon-standard-user">
                                                            <lightning-icon icon-name={iconUser}
                                                                            class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                                                            size="x-small"></lightning-icon>
                                                        </span>
                                                    </span>
                                                    <span class="slds-media__body">
                                                        <span class="slds-listbox__option-text slds-listbox__option-text_entity">{user.Name}</span>
                                                        <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{User} • {user.Name}</span>
                                                    </span>
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                                <div if:true={messageFlagOwner}>
                                    {labels.NO_RESULTS}
                                </div>
                                <div if:true={ownerLoadingText}>
                                    {labels.LOADING}
                                </div>
                            </div>
                        </div>

                        <lightning-combobox class="msa__input" label={labels.SHARING_LABEL} dropdown-alignment="auto" name="sharingPicklist"
                                            onchange={handleSharingChange} options={sharingOptions} value={sharingObjectType}
                                            disabled={sharingDisabled} field-level-help={labels.SHARING_HELPTEXT} ></lightning-combobox>

                    </template>
                </div>
            </div>

            <!-- Footer -->
            <div class="slds-docked-composer__footer msa__footer">
                <div class="bottomBarLeft slds-col"></div>
                <div class="bottomBarRight slds-col_bump-left slds-text-align_right" >
                    <lightning-button type="submit" label="Submit" variant="brand" disabled={reportNotSelected} onclick={handleSubmit} > </lightning-button>
                </div>
            </div>
        </div>
    </template>
    <c-lsb_-modal onsubmitmodal={handleCloseModal}>
    </c-lsb_-modal>
</template>