.msa__footer {
    bottom: 0;
    font-size: 13px;
    margin-left: -16px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.msa__input {
    font-size: 13px;
    margin: 6px 0;
}

.msa__input input {
    height: 32px;
    padding: 0 32px 0 12px;
}

.msa__icon {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 3;
}

.msa__dropdown {
    position: relative;
    top: 0;
}

.slds-docked-composer__body {
    overflow: hidden;
}

.slds-docked_container_align-left {
    padding-bottom: 40px;
}