.custom-modal__container {
    width: 500px;
    max-width: unset;
    min-width: unset;
}

.custom-modal__header {
    background-color: white;
    border: none;
    color: #323232;
    display: flex;
    font-weight: bold;
    padding: 30px 30px 0 30px;
}

.custom-modal__icon {
    margin-left: auto;
    position: relative;
    top: -3px;
    cursor: pointer;
}

.custom-modal__content {
    background-color: white;
    padding: 24px 30px 30px 30px;
}

.custom-modal__message {
    margin-bottom: 20px
}

.custom-modal__buttons {
    display: grid;
    gap: 0px 8px;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    margin-top: 32px;
}

.custom-modal__button {
    border-radius: 4px;
    background-color: #B62E5F;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 16px;
}

.custom-modal__button:hover {
    filter:brightness(1.15);
}

.custom-modal__button--secondary {
    background-color: white;
    border: 1px solid #B62E5F;
    color: #B62E5F;
}

.modal__main-container:focus {
    outline: none;
}

.slds-modal {
    z-index: 9002;
}

.slds-backdrop {
    z-index: 9001;
}

@media screen and (max-width: 48em) {

    .actions__button span {
        display: none
    }

    .custom-modal__container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

}