<template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                 aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div tabindex="0" class="modal__main-container slds-modal__container custom-modal__container">
                <header class="slds-modal__header custom-modal__header header__small">
                    {modalHeader}
                    <button
                            onclick={closeModal}
                            class="slds-button slds-button_icon slds-current-color custom-modal__icon close__button"
                    >
                        <lightning-icon
                                alternative-text="close"
                                icon-name="utility:close"
                                size="xx-small"
                                role="button"
                                variant="inverse"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>
                <div class="slds-modal__content slds-p-around_medium custom-modal__content" id="modal-content-id-1">
                    <template if:false={isInnerHtml} for:each={modalMessage} for:item="msg" for:index="msgIdx">
                        <p key={msg} class="custom-modal__message text__body">{msg}</p>
                    </template>
                    <p if:true={isInnerHtml} class="html__content">
                    </p>
                    <div if:false={hideFooter} class="custom-modal__buttons">
                        <button if:false={hideCancel} class="custom-modal__button custom-modal__button--secondary" onclick={closeModal}
                                title={cancelLabelText}>{cancelLabelText}
                        </button>
                        <button class="custom-modal__button ok__button" onclick={submitDetails} title={submitLabelText}>
                            {submitLabelText}
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>