<template>
    <template if:true={isLoading}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </template>
    <div class="SA__container">
        <div class="SA__banner">
            <h1 class="header__large--community SA__title">{labels.selfAssessmentTitle}</h1>
        </div>
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </template>
        <lightning-tabset>
            <lightning-tab label={tabSetValues.myPlan} class="tab_class">
                <c-lsb_-comm-self-assessment-plan tab-data={myPlanData}></c-lsb_-comm-self-assessment-plan>
            </lightning-tab>
            <lightning-tab label={tabSetValues.personalPlan} class="tab_class">
                <c-lsb_-comm-self-assessment-tab is-questionnaire="true" ontextchanged={handleTextChanged} onradiochanged={handleRadioChanged} section-data={personalPlanData} ></c-lsb_-comm-self-assessment-tab>
            </lightning-tab>
            <lightning-tab label={tabSetValues.developmentPlan} class="tab_class">
                <c-lsb_-comm-self-assessment-tab is-questionnaire="true" ontextchanged={handleTextChanged} onradiochanged={handleRadioChanged} section-data={developmentData} ></c-lsb_-comm-self-assessment-tab>
            </lightning-tab>
            <lightning-tab label={tabSetValues.goals} class="tab_class">
                <c-lsb_-comm-self-assessment-tab is-questionnaire="true" ontextchanged={handleTextChanged} onradiochanged={handleRadioChanged} section-data={goalsData} ></c-lsb_-comm-self-assessment-tab>
            </lightning-tab>
            <lightning-tab label={labels.personalDevelopmentChartTab} class="tab_class">
                <c-lsb_-comm-self-assessment-personal-development response-data={personalDevelopmentChartData} ></c-lsb_-comm-self-assessment-personal-development>
            </lightning-tab>
        </lightning-tabset>
        <div if:true={modifiedRecords.length} class="footer">
            <div class="footer__wrapper">
                <p class="footer__text text__body">{labels.selfAssessmentFooter}</p>
                <button title="Save changes" onclick={handleSaveChanges} class="slds-m-left_x-small footer__button">Save changes</button>
            </div>
        </div>
        <c-lsb_-modal>
        </c-lsb_-modal>
    </div>
</template>