.SA__container {
    margin-top: -16px;
    margin-bottom: 64px;
}

.SA__banner {
    background-color: white;
    border-bottom: 1px solid #E6E6E6;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: sticky;
    top: 0;
    z-index: 1;
}

.SA__title {
    padding: 42px 12px 64px 12px;
    max-width: 1280px;
    margin: auto;
}

.tab_class {
    background-color: #F8F8F8;
    padding-top: 42px;
}

.tab_class .slds-tabs_default__link {
    font-weight: bold!important;
}

.section_grid {
    background-color: white;
    margin: 10px;
    height: 500px;
}

.footer {
    bottom: 0;
    background-color: transparent;
    height: 72px;
    left: 0;
    position: fixed;
    width: 100%;
}

.footer__wrapper {
    align-items: center;
    background-color: #B62E5F;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    max-width: calc(1280px - 24px);
    padding: 0 16px;
}

.footer__text {
    color: white;
}

.footer__button {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(255,255,255,0.15);
    font-weight: bold;
    height: 48px;
    margin: 0;
    min-width: 200px;
    transition: background-color .2s ease-in-out;
}

.footer__button:hover {
    background-color: rgba(255,255,255,0.25);
}

/*loader*/

.slds-spinner_container {
    height: 100vh;
    background-color: white;
    z-index: 9999;
    position: fixed;
}

.SA__container .slds-spinner_container {
    background-color: rgba(255,255,255,0.75);
}

@media screen and (max-width: 64em) {

    .tab_class {
        padding-top: 24px;
    }
}

@media screen and (max-width: 48em) {

    .SA__banner {
        top: -24px;
    }

    .footer {
        height: 50px;
    }

    .footer__wrapper {
        border-radius: 0;
        padding: 0;
    }

    .footer__text {
        display: none;
    }

    .footer__button {
        background-color: transparent;
        width: 100%;
    }

}