.attachment {
    margin-bottom: 42px;
}

.attachment__header {
    margin-bottom: 10px;
}

.attachment__empty {
    margin-bottom: 16px;
}

.attachment__item {
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.attachment__item:first-of-type {
    padding-top: 0;
}

.attachment__item:last-of-type {
    margin-bottom: 12px;
}

.attachment__name {
    word-break: break-all;
}

.attachment__button {
    align-items: center;
    color: #B62E5F;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    padding: 0;
}

.attachment__button:hover span {
    text-decoration: underline;
}

.attachment__icon {
    margin-right: 6px;
    position: relative;
    top: -1px;
}

.attachment__upload {
    margin-bottom: 42px;
}

.button__icon {
    margin-right: 8px;
    font-size: 16px;
}

@media screen and (max-width: 48em) {

    .attachment__item {
        align-items: flex-start;
        flex-direction: column;
    }

    .attachment__name {
        margin-bottom: 6px;
    }

}