<template>
    <div class="spinner" if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>

    <h2 class="attachment__header header__small">{labels.attachmentsTitle}</h2>
    <div class="attachment content">
        
        <div class="attachment__empty text__body" if:true={attachmentsEmpty}>
            <template if:true={noAttachmentsMessage}>
                {noAttachmentsMessage}
            </template>
            <template if:false={noAttachmentsMessage}>
                {labels.noAttachments}
            </template>
        </div>

        <ul>
            <template if:false={attachmentsEmpty} for:each={contentVersions} for:item="content" for:index="contentIndex">
                <li class="attachment__item text__body" key={content.Id}>
                    <a href="javascript:void" class="attachment__name text__body" data-fileurl={content.fileUrl} onclick={handleDownloadDocument}>
                        {content.Filename}
                    </a>
                    <button class="attachment__button" data-index={contentIndex} if:true={content.isDeletable}
                        onclick={deleteAttachment}>
                        <i class="button__icon mdi mdi-trash-can"></i>
                        <span>{labels.remove}</span>
                    </button>
                </li>
            </template>
        </ul>

        <lightning-file-upload if:true={acceptedFormats}
                               class="attachment__upload"
                               label={labels.uploadFile}
                               name="fileUploader"
                               accept={acceptedFormatsArray}
                               record-id={parentRecordId}
                               multiple={allowMultiple}
                               onuploadfinished={handleUploadFinished}>
        </lightning-file-upload>
        <lightning-file-upload if:false={acceptedFormats}
                               class="attachment__upload"
                               label={labels.uploadFile}
                               name="fileUploader"
                               record-id={parentRecordId}
                               multiple={allowMultiple}
                               onuploadfinished={handleUploadFinished}>
        </lightning-file-upload>
        
    </div>
</template>