<template>
    <template if:true={componentReady}>
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </template>
        <button class="actions__button" onclick={handleOpenModal}>
            <span class="mdi mdi-comment-alert"></span>
            {labels.requestReview}
        </button>
        <template if:true={showModal}>
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                     aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="modal__main-container slds-modal__container custom-modal__container">
                    <header class="slds-modal__header custom-modal__header">
                        <h1 class="header__small">{labels.requestReview}</h1>
                        <button
                                onclick={handleCloseModal}
                                class="slds-button slds-button_icon slds-current-color custom-modal__icon close__button"
                        >
                            <lightning-icon
                                    alternative-text="close"
                                    icon-name="utility:close"
                                    size="xx-small"
                                    role="button"
                                    variant="inverse">
                            </lightning-icon>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium custom-modal__content text__body"
                         id="modal-content-id-1">
                        <b>{labels.reviewReasons}</b>
                        <lightning-radio-group name="radioGroup"
                                               options={reviewReasons}
                                               onchange={handleChange}
                                               value={reviewReason}
                                               type="radio">
                        </lightning-radio-group>
                        <br>
                        <b>{labels.reviewComments}</b>
                        <lightning-textarea class="custom-modal__textarea"
                                            value={reviewComment}
                                            placeholder={labels.writeDetailsHere}
                                            onchange={handleReviewComment}>
                        </lightning-textarea>
                        <br>
                        <div class="custom-modal__info">
                            <span class="custom-modal__infoicon mdi mdi-information" aria-hidden="true"></span>
                            <p class="text__body">{labels.requestReviewHelpText}</p>
                        </div>
                        <button class="custom-modal__button save__button"
                                onclick={handleSubmit}>
                            {labels.saveButton}
                        </button>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>
    <c-lsb_-modal onsubmitmodal={handleRequestReview}>
    </c-lsb_-modal>
</template>