<template>
    <div class="slds-grid slds-grid_pull-padded-large row-reverse">
        <template if:false={showResponses}>
            <div class="slds-col slds-size_12-of-12 slds slds-p-horizontal_large">
                <c-lsb_-comm-self-assessment-no-result header-text={labels.NO_RESULT_HEADER} message-text={labels.NO_RESULT_ERROR}></c-lsb_-comm-self-assessment-no-result>
            </div>
        </template>
        <template if:true={showResponses}>
            <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12 slds-p-horizontal_large">
                <c-lsb_-comm-self-assessment-nav-bar sections-list={sections} onchoose={handleSectionChoose}></c-lsb_-comm-self-assessment-nav-bar>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-large-size_8-of-12 slds-p-horizontal_large" >
                <c-lsb_-comm-self-assessment-tile></c-lsb_-comm-self-assessment-tile>
                <template for:each={responsesInSections} for:item="section" for:index="secIndex">
                    <section key={section.sectionName} data-id={section.id} id={section.id}>
                        <h2 class="header__small">{section.sectionName}</h2>
                        <div class="content">
                            <template for:each={section.responses} for:item="resp" for:index="resIndex">
                                <div key={resp.Id}>
                                    <c-lsb_-comm-self-assessment-response assessment-response={resp} is-mobile={isMobile}></c-lsb_-comm-self-assessment-response>
                                </div>
                            </template>
                        </div>
                    </section>
                </template>
            </div>
        </template>
    </div>
</template>