.bannercustom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    padding: 42px 16px 54px 16px;
    word-break: break-word;
}

.header {
    width: 80%;
}

.header__details {
    margin-top: 20px;
    white-space: nowrap;
}

.actions {
    display: flex;
}

.actions__container {
    background-color: #B62E5F;
    border-radius: 4px;
    color: white;
    margin-left: 16px;
}

.actions__button {
    align-items: center;
    border: none;
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    padding: 10px 16px;
    width: 100%;
    white-space: nowrap;
    letter-spacing: 0.1px;
    line-height: 22px;
}

.actions__button span {
    font-size: 16px;
    margin-right: 8px;
}

.header__button--withdraw {
    background-color: #B62E5F1A;
    color: #B62E5F;
    margin-left: 12px;
}

.header a {
    color: #B62E5F;
    font-weight: bold;
}

.header a:hover {
    text-decoration: underline;
}

.mobile-actions {
    align-items: center;
    background-color: #F8E9EF;
    border-radius: 50%;
    border: none;
    color: #B62E5F;
    display: none;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    padding: 0;
    width: 42px;
    height: 42px;
}

.mobile-actions span {
    font-size: 24px;
}

/* custom modal mobile */

.custom-modal__container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.custom-modal__header {
    align-items: center;
    background-color: white;
    border: none;
    display: flex;
    padding: 30px 30px 0 30px;
}

.custom-modal__icon {
    margin-left: auto;
    position: relative;
    top: -3px;
}

.custom-modal__content {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 24px 30px 30px 30px;
}

.custom-modal__button {
    border-radius: 4px;
    background-color: #B62E5F;
    color: white;
    margin-bottom: 8px;
}

.custom-modal__button:last-child {
    margin-bottom: 0;
}


@media screen and (max-width: 48em) {

    .bannercustom {
        align-items: flex-start;
        padding: 24px 16px;
    }

    .actions {
        display: none;
    }

    .actions__container {
        margin: 0 0 8px 0;
    }

    .mobile-actions {
        display: flex;
    }

    .actions__button span {
        display: none
    }

}