<template>
    <div class="bannercustom" if:true={componentReady}>
        <div class="header">
            <h1 class="header__large" if:true={headerField}>
                {header}
            </h1>
            <template if:false={isTask}>
                <template for:each={recordDetails} for:item="field" for:index="fieldIndex">
                    <template key={field.fieldNameOrPath}>
                        <p key={field.fieldNameOrPath} class="header__details text__body">{field.label}:&nbsp;{field.value}</p>
                    </template>
                </template>
            </template>
            <template if:true={isTask}>
                <p class="header__details text__body">{assignedByLabel}&nbsp;<a
                        href={assignedByEmail}>{assignedByName}</a></p>
            </template>
        </div>
        <template if:true={showMobileActionsButton}>
            <button class="mobile-actions" onclick={openActions}>
                <!-- {labels.moreOptions}  -->
                <span class="mdi mdi-cog-outline"></span>
            </button>
        </template>
        <div class="actions">
            <template if:true={isCase}>
                <template if:true={showAddComplaintDetails}>
                    <c-lsb_-custom-action button-name={labels.addComplaintDetails}
                                          class="actions__container"
                                          object-api-name="Case"
                                          record-id={recordId}
                                          field-set-name="LSB_CAS_CommunityCaseComplaints">
                    </c-lsb_-custom-action>
                </template>
                <template if:true={showRequestReview}>
                    <c-lsb_-request-review
                            record-id={recordId}
                            class="actions__container">
                    </c-lsb_-request-review>
                </template>
                <template if:true={showWithdrawCase}>
                    <template if:false={isCaseClosed}>
                        <c-lsb_-withdraw-case
                                record-id={recordId}
                                class="actions__container">
                        </c-lsb_-withdraw-case>
                    </template>
                </template>
            </template>
            <template if:true={isTask}>
                <div class="actions__container" if:true={isNew}>
                    <button class="actions__button"
                            onclick={handleInProgressTask}
                            title={labels.markInProgress}
                            data-index={record.id}>
                        <span class="mdi mdi-clock-outline"></span>
                        {labels.markInProgress}
                    </button>
                </div>
                <div class="actions__container" if:false={isCompleted}>
                    <button class="actions__button"
                            onclick={handleCompleteTask}
                            title={labels.markComplete}
                            data-index={record.id}>
                        <span class="mdi mdi-check"></span>
                        {labels.markComplete}
                    </button>
                </div>
            </template>
        </div>
    </div>
    <c-lsb_-modal onsubmitmodal={handleTaskSubmit}>
    </c-lsb_-modal>
    <template if:true={showActions}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                 aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="custom-modal__container">
                <header class="custom-modal__header header__small">
                    {labels.moreOptions}
                    <lightning-icon class="custom-modal__icon slds-current-color" icon-name="utility:close"
                                    onclick={closeActions}
                                    size="xx-small"></lightning-icon>
                </header>
                <div class="custom-modal__content" id="modal-content-id-2">
                    <template if:true={isCase}>
                        <template if:true={showAddComplaintDetails}>
                            <c-lsb_-custom-action button-name={labels.addComplaintDetails}
                                                  class="custom-modal__button"
                                                  object-api-name="Case"
                                                  record-id={recordId}
                                                  field-set-name="LSB_CAS_CommunityCaseComplaints">
                            </c-lsb_-custom-action>
                        </template>
                        <template if:true={showRequestReview}>
                            <c-lsb_-request-review
                                    record-id={recordId}
                                    class="custom-modal__button">
                            </c-lsb_-request-review>
                        </template>
                        <template if:true={showWithdrawCase}>
                            <template if:false={isCaseClosed}>
                                <c-lsb_-withdraw-case
                                        class="custom-modal__button"
                                        record-id={recordId}>
                                </c-lsb_-withdraw-case>
                            </template>
                        </template>
                    </template>
                    <template if:true={isTask}>
                        <div class="custom-modal__button" if:true={isNew}>
                            <button class="actions__button"
                                    onclick={handleInProgressTask}
                                    title={labels.markInProgress}
                                    data-index={record.id}>
                                <span class="mdi mdi-check-bold"></span>
                                {labels.markInProgress}
                            </button>
                        </div>
                        <div class="custom-modal__button" if:false={isCompleted}>
                            <button class="actions__button"
                                    onclick={handleCompleteTask}
                                    title={labels.markComplete}
                                    data-index={record.id}>
                                <span class="mdi mdi-check-bold"></span>
                                {labels.markComplete}
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>