<template>
    <template if:true={dataReady}>
        <h2 class="header__small--community">{labels.myGradesHeader}</h2>
        <div class="content mad">
            <h3 class="mad__header header__body--community">{labels.myGradesHeader2}</h3>
            <p class="mad__text text__body--community">{labels.myGradesParagraph1}</p>
            <a class="mad__hyperlink mad__hyperlink--newtab button__hyperlink" target="_blank"
               href="https://my.lsbu.ac.uk/my/portal/My-Course/My-Results">{labels.myGradesViewResults}</a>
            <h3 class="mad__header header__body--community">{labels.myGradesHeader3}</h3>
            <p class="mad__text text__body--community">{labels.myGradesParagraph2}</p>
            <a tabindex="0" class="mad__hyperlink button__hyperlink" onkeypress={handlePress} onclick={handleShowModal}>{labels.myGradesViewResultsModal}</a>
        </div>
        <template if:true={showModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                     aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div tabindex="0" class="modal__main-container slds-modal__container custom-modal__container">
                    <header class="slds-modal__header custom-modal__header header__small">
                        <h1 class="header__small">{labels.previousYearResultsHeader}</h1>
                        <button
                                onclick={handleCloseModal}
                                class="slds-button slds-button_icon slds-current-color custom-modal__icon close__button"
                        >
                            <lightning-icon
                                    alternative-text="close"
                                    icon-name="utility:close"
                                    size="xx-small"
                                    role="button"
                                    variant="inverse"></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium custom-modal__content" id="modal-content-id-1">
                        <template if:true={tabs.length}>
                            <p class="text__body">{labels.previousYearResultsDescription}</p>
                            <lightning-tabset class="custom__tabset">
                                <template for:each={tabs} for:item="tab" for:index="tabIndex">
                                    <lightning-tab key={tab.tabName} label={tab.tabName}>
                                        {labels.myGradesOverallGrade}&nbsp;{tab.overallCourseGrade}
                                        <br>
                                        <c-lsb_-previous-year-results-tab previous-year-results={tab.moduleWrappers}>
                                        </c-lsb_-previous-year-results-tab>
                                    </lightning-tab>
                                </template>
                            </lightning-tabset>
                        </template>
                        <template if:false={tabs.length}>
                            <div class="noresults__container custom__tabset">
                                <span class="noresults__icon mdi mdi-text-box-remove-outline" aria-hidden="true"></span>
                                <h2 class="noresults__header header__small">{labels.previousYearResultsNoGrades}</h2>
                            </div>
                        </template>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>
</template>