.custom-modal__container {
    width: 70%;
    max-width: unset;
    min-width: unset;
    text-align: left;
}

.custom-modal__header {
    align-items: center;
    background-color: white;
    border: none;
    display: flex;
    font-weight: bold;
    padding: 30px 30px 0 30px;
}

.custom-modal__icon {
    margin-left: auto;
    position: relative;
    top: -3px;
    cursor: pointer;
}

.custom-modal__content {
    background-color: white;
    padding: 24px 30px 30px 30px;
    min-height: 60%;
}

.noresults__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
}

.noresults__header {
    color: #6e6e6e;
    text-align: center;
}

.noresults__icon {
    color: #6e6e6e;
    font-size: 45px;
    margin-bottom: 16px;
}

@media screen and (max-width: 64em) {

    .custom-modal__container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .custom-modal__content {
        height: 90%;
    }

}