<template>
    <ul class="action__grid">
        <template  for:each={actions} for:item="action" for:index="actionIndex" >
            <li key={action.LSB_Number__c} class="action content" data-url={action.LSB_Link__c} onkeypress={handlePress} onclick={redirectToAction}>
                <div class="tile__icon" aria-hidden="true" if:true={action.LSB_Icon__c}>
                    <span class={action.iconClass}></span>
                </div>
                <h3 class="action__header header__small"><lightning-formatted-rich-text value={action.LSB_Title__c}></lightning-formatted-rich-text></h3>
                <p class="action__desc text__body"><lightning-formatted-rich-text value={action.LSB_Description__c}></lightning-formatted-rich-text></p>
                <a class="action__link" role="link" tabindex="0">{labels.findOutMore}<span aria-hidden="true" class="action__icon mdi mdi-arrow-right"></span></a>
            </li>
        </template>
    </ul>
</template>