.action__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    row-gap: 32px;
    column-gap: 32px;
    margin-bottom: 64px;
}

.action {
    border-bottom: 5px solid #B62E5F;
    cursor: pointer;
    margin: 0;
    min-height: 390px;
    position: relative;
}

.action:hover .action__link {
    text-decoration: underline;
}

.tile__icon {
    color: #B62E5F;
    font-size: 32px;
    margin-bottom: 16px;
}

.action__header {
    margin: 18px 0;
}

.action__desc {
    margin-bottom: 42px;
}

.action__link {
    color: #B62E5F;
    font-size: 13px;
    position: absolute;
    bottom: 32px;
}

.action__icon {
    font-size: 15px;
    margin-left: 8px;
}

@media screen and (max-width: 47.9375em) {

    .action__grid {
        grid-template-columns: 1fr;
        margin-bottom: 16px;
        row-gap: 16px;
    }

    .action {
        min-height: unset;
        background-color: #fff;
    }

    .action__link {
        position: unset;
    }

}