<template>
    <template for:each={sectionItemsData} for:item="item" for:index="itemIndex">
        <c-lsb_-comm-self-assessment-response is-mobile={isMobile} key={item.Id} assessment-response={item} is-questionnaire="true">
        </c-lsb_-comm-self-assessment-response>
    </template>
</template>