<template>
    <h2 class="header__small" if:true={header}>
        {header}
    </h2>
    <div class="content" if:true={dataReady}>
        <p class="text__body content__text" if:true={description}>
            {description}
        </p>
        <div class="deadlines">
            <h3 class="header__body deadline__header">Upcoming deadlines</h3>
            <template for:each={upcomingAssessments} for:item="assessment">
                <div class="deadline__item" key={assessment.componentOrSubComponentDesc}>
                    <div class="deadline__data">
                        <div class="header__body">{assessment.componentOrSubComponentDesc}</div>
                        <div class="text__body"> {assessment.moduleName}</div>
                    </div>
                    <div class="deadline__date"> {assessment.handInDate}</div>
                </div>
            </template>
        </div> 
        <div class="deadlines">
            <h3 class="header__body deadline__header">Past deadlines</h3>
            <template for:each={pastAssessments} for:item="assessment">
                <div class="deadline__item deadline__item--past" key={assessment.componentOrSubComponentDesc}>
                    <div class="deadline__data">
                        <div class="header__body">{assessment.componentOrSubComponentDesc}</div>
                        <div class="text__body"> {assessment.moduleName}</div>
                    </div>
                    <div class="deadline__date"> {assessment.handInDate}</div>
                </div>
            </template>
        </div>
    </div>
</template>