.deadlines {
    margin-bottom: 64px;
}

.deadlines:last-of-type {
    margin: 0;
}

.deadline__item {
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
    padding: 24px 0;
    position: relative;
}

.deadline__item:first-of-type {
    padding-top: 0;
}

.deadline__item:last-of-type {
    border: none;
    padding-bottom: 0;
}

.deadline__item:before {
    align-items: center;
    background-color: #B62E5F;
    border-radius: 50%;
    color: white;
    content: "\F0152";
    display: flex;
    font-family: "Material Design Icons";
    font-size: 19px;
    font-weight: normal;
    height: 36px;
    justify-content: center;
    left: -52px;
    margin-right: 16px;
    position: absolute;
    width: 36px;
}

.deadline__item--past:before {
    background-color: #A5A5A5;
    content: "\F00EF" /  "";
}

.deadline__header {
    margin-bottom: 16px;
}

.deadline__date {
    color: #B62E5F;
    font-weight: bold;
}

@media screen and (max-width: 64em) {

    .deadlines {
        margin-bottom: 48px;
    }
    
    .deadline__item {
        align-items: flex-start;
        flex-direction: column;
        padding: 16px 0;
    }

    .deadline__date {
        margin-top: 16px;
    }

    .deadline__item {
        margin-left: 48px;
    }

    .deadline__item:before {
        left: -48px;
        margin-right: 12px;
    }

}