<template>
    <h2 class="header__small" if:true={header}>
        {header}
    </h2>
    <template if:true={componentReady}>
        <div if:true={showContent} class="content">
            <p class="content__text text__body" if:true={description}>
                {description}
            </p>
            <template if:false={isTeachingStaff} for:each={advisors} for:item="advisor" for:index="advisorIndex">
                <button tabindex="0" aria-expanded={advisor.isExpanded} key={advisor.id} class={advisor.styleClass}
                        data-index={advisorIndex}
                        onclick={toggleExpand}>
                            <img alt="" aria-hidden="true" class="advisor__photo" src={advisor.photourl}/>
                            <div class="advisor__container">
                                <div class="advisor__info">
                                    <div class="advisor__data">
                                        <p class="advisor__name header__body">{advisor.firstname} {advisor.lastname}</p>
                                        <p class="advisor__role text__body">{advisor.role}</p>
                                    </div>
                                    <div class="advisor__icon" if:true={advisor.isExpanded}>
                                        <span class="mdi mdi-chevron-up"></span>
                                    </div>
                                    <div class="advisor__icon" if:false={advisor.isExpanded}>
                                        <span class="mdi mdi-chevron-down"></span>
                                    </div> 
                                </div>
                                <template if:true={advisor.isExpanded}>
                                    <p class="advisor__aboutme text__body" if:true={advisor.isExpanded}>
                                        {advisor.aboutme}
                                    </p>
                                </template>
                            </div>
                </button>
            </template>
            <template if:true={isTeachingStaff} for:each={advisors} for:item="advisor" for:index="advisorIndex">
                <div tabindex="0" aria-expanded={advisor.isExpanded} key={advisor.id} class={advisor.styleClass}
                        data-index={advisorIndex}>
                    <div class="advisor">
                        <img alt="" aria-hidden="true" class="advisor__photo" src={advisor.photourl}/>
                        <div class="advisor__container">
                            <div class="advisor__data">
                                <p class="advisor__name header__body">{advisor.firstname} {advisor.lastname}</p>
                                <p class="advisor__role text__body">{advisor.role}</p>
                            </div>
                            <div class="advisor__modules" if:true={advisor.modules.length}>
                                <ul class="advisor__module">
                                    <li>
                                        <p class="header__body">{labels.modules}</p>
                                        <template for:each={advisor.modules} for:item="module">
                                            <p class="text__body" key={module}>{module}</p>
                                        </template>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </template>
</template>