.advisor {
    align-items: flex-start;
    background-color: white;
    border: 0;
    display: flex;
    padding: 24px 0 0 0;
    width: 100%;
    text-align: left;
}

.advisor__photo {
    border-radius: 50%;
    margin-right: 16px;
    position: relative;
    top: 4px;
    width: 36px;
}

.advisor__container {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    width: 100%;
}

.advisor__info {
    align-items: center;
    display: flex;
}

.advisor__icon {
    color: #B62E5F;
    font-size: 20px;
    margin-left: auto;
    padding-right: 8px;
}

.advisor__aboutme {
    color: #646464;
    padding-top: 12px;
    width: 100%;
}

.advisor:first-of-type {
    padding-top: 0;
}

.advisor:last-of-type .advisor__container {
    border: none;
    padding-bottom: 0;
}

.advisor__module {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 12px;
    margin-bottom: 18px;
    padding: 10px 0;
}