.THIS.schedule__container {
    display: flex;
    height: 188px;
    position: relative;
}

.THIS .schedulebutton {
    padding: 14px 18px;
    line-height: 1;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 20px;
    min-width: 200px;
}

.THIS .schedulebutton__container {
    display: flex;
    flex-direction: column;
}

.THIS .schedulebutton__content {
    margin-top: 6px;
    font-weight: normal;
    font-size: 11px;
}

.THIS .schedule-modal {
    width: 600px;
    max-width: unset;
    min-width: unset;
}

.THIS .custom-modal__header {
    background-color: white;
    border: none;
    color: #323232;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    padding: 30px 30px 0 30px;
}

.THIS .custom-modal__icon {
    margin-left: auto;
    position: relative;
    top: -3px;
    cursor: pointer;
}

.THIS .custom-modal__content {
    background-color: white;
    padding: 24px 30px 30px 30px;
    height: 85vh;
}

@media screen and (max-width: 64em) {

    .THIS.schedule__container {
        height: 0;
    }

    .THIS .schedulebutton {
        border-radius: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        margin: 0;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .THIS .schedule-modal {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}