<template>
    <template if:false={hideComponent}>
        <div class={tileStyleClass} onclick={handleButtonClick}>
            <template if:true={showBanner}>
                <div>
                    <img class="tile__img" alt="" aria-hidden="true" if:true={banner} src={banner}/>
                </div>
            </template>
            <div class="tile__container">
                <div class="tile__icon" aria-hidden="true" if:true={icon}>
                    <span class={iconClass}></span>
                </div>
                <h2 class="tile__header header__small" if:true={header}>
                    {header}
                </h2>
                <p class="tile__description text__body" if:true={description}>
                    <!--content generated in renderedCallback-->
                </p>
                <a href="javascript:void(0)" class="tile__link button__hyperlink" if:true={buttonUrl}
                   aria-label={tileDescription}>
                    {labels.findOutMore}
                    <span class="mdi mdi-arrow-right"></span>
                </a>
            </div>
        </div>
    </template>
</template>