.tile {
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    display: flex;
    position: relative;
    min-height: 300px;
    margin-bottom: 32px;
    transition: all .3s;
    cursor: pointer;
}

.tile__img {
    border-radius: 4px 0 0 4px;
    height: 100%; 
    max-width: 100%;
    object-fit: cover;
    width: 225px;
}

.tile__container {
    padding: 30px 36px;
    width: calc(100% - 225px);
}

.tile__icon {
    color: #B62E5F;
    font-size: 32px;
    margin-bottom: 16px;
}

.tile__header {
    margin-bottom: 16px;
    width: 75%;
}

.tile__description {
    margin-bottom: 42px;
}

.tile__link {
    position: absolute;
    bottom: 30px;
}

.tile__detail {
    box-shadow: none;
    border-radius: 0;
    min-height: unset;
    margin-bottom: 42px;
}

.tile__detail.tile {
    box-shadow: none;
}

.tile__detail .tile__container {
    padding: 0;
    width: 100%;
}

.tile__detail .tile__icon {
    font-size: 26px;
    margin-bottom: 0;
}

.tile__detail .tile__header {
    font-size: 13px;
    margin-bottom: 4px;
}

.tile__detail .tile__description {
    margin-bottom: 0;
}


@media screen and (max-width: 64em) {

    .tile {
        display: block;
        margin-bottom: 16px;
        min-height: unset;
    }

    .tile__container {
        padding: 30px;
        width: 100%;
    }

    .tile__img {
        border-radius: 4px 4px 0 0;
        height: 110px;
        width: 100%;
    }

    .tile__header {
        font-size: 14px;
    }

    .tile__icon {
        margin-bottom: 4px;
    }

    .tile__link {
        position: static;
    }


    .tile__detail {
        margin-bottom: 42px;
    }

}