<template>
    <template if:true={componentReady}>
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </template>
        <button class="actions__button" onclick={handleOpenModal}>
            <span class="mdi mdi-comment-alert"></span>
            {buttonName}
        </button>
        <template if:true={showModal}>
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                     aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="modal__main-container slds-modal__container custom-modal__container">
                    <header class="slds-modal__header custom-modal__header header__small">
                        <h1 class="header__small">{buttonName}</h1>
                        <button
                                class="slds-button slds-button_icon slds-current-color custom-modal__icon close__button"
                                onclick={handleCloseModal}
                        >
                            <lightning-icon
                                    alternative-text="close"
                                    icon-name="utility:close"
                                    size="xx-small"
                                    role="button"
                                    variant="inverse"></lightning-icon>
                        </button>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium custom-modal__content text__body"
                         id="modal-content-id-1">
                        <lightning-record-edit-form record-id={recordId}
                                                    object-api-name={objectApiName}
                                                    onsuccess={handleSubmit}>
                            <lightning-messages>
                            </lightning-messages>
                            <template for:each={fields} for:item="field" for:index="fieldIndex">
                                <lightning-input-field key={field} field-name={field}>
                                </lightning-input-field>
                            </template>
                            <button class="custom-modal__button save__button"
                                    type="submit"
                                    onclick={handleShowSpinner}
                                    name={labels.saveButton}>
                                {labels.saveButton}
                            </button>
                        </lightning-record-edit-form>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>
</template>