.actions__button {
    align-items: center;
    border: none;
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    justify-content: center;
    padding: 10px 16px;
    width: 100%;
    white-space: nowrap;
    letter-spacing: 0.1px;
    line-height: 22px;
}

.actions__button span {
    font-size: 16px;
    margin-right: 8px;
}

.actions__button:hover {
    background-color: inherit;
}

/*custom modal mobile */

.custom-modal__container {
    width: 500px;
    max-width: unset;
    min-width: unset;
}

.custom-modal__header {
    align-items: center;
    background-color: white;
    border: none;
    display: flex;
    font-weight: bold;
    padding: 30px 30px 0 30px;
}

.custom-modal__icon {
    margin-left: auto;
    position: relative;
    top: -3px;
    cursor: pointer;
}

.custom-modal__content {
    background-color: white;
    padding: 24px 30px 30px 30px;
}

.custom-modal__button {
    border-radius: 4px;
    background-color: #B62E5F;
    border: none;
    color: white;
    font-weight: bold;
    margin: 30px 0 0 0;
    padding: 10px 16px;
    width: 100%;
}

.custom-modal__button:hover {
    filter:brightness(1.15);
}

.custom-modal__textarea {
    margin-top: 8px;
}

@media screen and (max-width: 48em) {

    .actions__button span {
        display: none
    }

    .custom-modal__container {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
    }

}