<template>
    <template if:true={componentReady}>
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </template>
        <button class="actions__button" onclick={handleOpenModal}>
            <span class="mdi mdi-cancel"></span>
            {labels.withdrawCaseLabel}
        </button>
        <template if:true={showModal}>
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                     aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="modal__main-container slds-modal__container custom-modal__container">
                    <h1 class="slds-modal__header custom-modal__header header__small">
                        {labels.withdrawCaseLabel}
                        <button
                                onclick={handleCloseModal}
                                class="slds-button slds-button_icon slds-current-color custom-modal__icon close__button"
                        >
                            <lightning-icon
                                    alternative-text="close"
                                    icon-name="utility:close"
                                    size="xx-small"
                                    role="button"
                                    variant="inverse">
                            </lightning-icon>
                        </button>
                    </h1>
                    <div class="slds-modal__content slds-p-around_medium custom-modal__content text__body"
                         id="modal-content-id-1">
                        <b if:false={ecClaim}>{labels.closedReason}</b>
                        <b if:true={ecClaim}>{labels.withdrawalReason}</b>
                        <lightning-radio-group name="radioGroup"
                                               options={closedReasons}
                                               onchange={handleChange}
                                               value={closedReason}
                                               type="radio">
                        </lightning-radio-group>
                        <template if:true={isOther}>
                            <br>
                            <b>{labels.withdrawalComment}</b>
                            <lightning-textarea class="custom-modal__textarea"
                                                value={otherReason}
                                                onchange={handleOtherReason}>
                            </lightning-textarea>
                        </template>
                        <button class="custom-modal__button save__button"
                                onclick={handleSubmit}>
                            {labels.saveButton}
                        </button>
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </template>
    <c-lsb_-modal onsubmitmodal={handleCaseWithdraw}>
    </c-lsb_-modal>
</template>