.banner__container {
    background-size: cover;
    height: 600px;
    left: 50%;
    right: 50%;
    margin: 0 -50vw -16px -50vw;
    padding: 0;
    position: relative;
    width: 100vw;
}

.banner__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1280px;
    padding: 24px;
}

.banner__caption {
    font-size: 26px;
}

.banner__title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
}

.banner__cta {
    border-radius: 100px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 42px;
    padding: 16px 32px;
    width: fit-content;
}

.banner__cta:hover {
    filter: brightness(1.15);
}

@media screen and (max-width: 64em) {

    .banner__container {
        background-position: 60%;
    }

    .banner__button {
        font-size: 13px;
    }

    .banner__caption {
        font-size: 16px;
    }

    .banner__container {
        height: 450px;
    }
    
    .banner__title {
        font-size: 26px;
    }
}