<template>
    <div class="banner__container" style={backgroundStyle} >
        <div class="banner__content">
            <template if:true={showCaption}>
                <h3 class="banner__caption" style={captionStyle}>{captionText}</h3>
            </template>
            <template if:true={showTitle}>
                <p class="banner__title" style={titleStyle}>{titleText}</p>
            </template>
            <template if:true={showButton}>
                <button class="banner__cta" onclick={handleClick} style={buttonStyle}>{buttonLabel}</button>
            </template>
        </div>
    </div>
</template>