<template>
    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-2">
            <label class="slds-form-element__label">Scoring Model Score</label>
            <div>{score}</div>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <label class="slds-form-element__label">Percentage of the profile that is completed</label>
            <div>{percentage}</div>
        </div>
    </div>
</template>