.chatter {
    display: flex;
    justify-content: space-between;
}

.chatter__toggle {
    background: none;
    border: none;
    color: #b62e5f;
    font-size: 13px;
    font-weight: bold;
}

.chatter__toggle span {
    font-size: 16px;
    margin-right: 6px;
}

.chatter__reply {
    background-color: white;
    bottom: 0;
    padding: 12px 0;
    position: sticky;
}

.sender__avatar {
    border-radius: 50%;
    margin-right: 10px;
    width: 30px;
}

.reply__container {
    align-items: center;
    display: flex;
    width: 100%;
}

.reply__input {
    width: 100%;
}

.reply__icon {
    align-items: center;
    color: #b62e5f;
    cursor: pointer;
    height: 40px;
    display: flex;
    padding-left: 16px;
}

.button__inactive {
    color: #D3D3D3;
}