<template>

    <h2 class="header__small">{labels.caseCommentsTitle}</h2>
    <div class="content">
        
        <div class="spinner" if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

        <div class="chatter">
            <template if:true={hasEmails}>
                <button class="chatter__toggle" onclick={toggleShowEmail}>
                    <template if:true={showEmails}>
                        <span class="mdi mdi-email-off"></span>
                        {labels.hideEmailsButton}
                    </template>
                    <template if:false={showEmails}>
                        <span class="mdi mdi-email"></span>
                        {labels.showEmailsButton}
                    </template>
                </button>
            </template>
        </div>
        <template if:false={caseMessagesEmpty} for:each={caseMessages} for:item="message" for:index="commentIndex">
            <c-lsb_-case-comments-message message={message} show-emails={showEmails}
                                          key={message.id}></c-lsb_-case-comments-message>
        </template>

        <div class="chatter__reply">
            <div class="reply__container">
                <img class="sender__avatar" src={userPhoto} alt=""/>
                <lightning-input class="reply__input slds-input_height" type="text" variant="label-hidden"
                                value={caseComment}
                                onchange={onCaseCommentInput}
                                onkeypress={addCaseCommentOnEnter}
                                placeholder={labels.chatterPlaceholder}>
                </lightning-input>
                <div if:true={caseComment} role="button" class="reply__icon" aria-label="send message">
                    <lightning-icon class="slds-current-color" icon-name="utility:send" size="small"
                                    onclick={addCaseComment}></lightning-icon>
                </div>
                <div if:false={caseComment} role="button" class="reply__icon" aria-label="send message">
                    <lightning-icon class="button__inactive" icon-name="utility:send"
                                    size="small"></lightning-icon>
                </div>
            </div>
        </div>

    </div>

</template>