<template>
    <template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{labels.modalTitle}</h2>
                </header>
                <template if:true={isReady}>
                <div class="slds-modal__content slds-p-around_medium">
                    <div class="slds-combobox_container">
                        <div class={ownerClass}
                             data-id="resultBox"
                             aria-expanded="false"
                             aria-haspopup="listbox"
                             role="combobox">
                            <div class="slds-form-element__control actm__input"
                                 role="none">
                                <template if:false={clearIconFlagOwner}>
                                    <lightning-icon
                                            class="actm__icon slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                            icon-name="utility:search"
                                            size="x-small"
                                            alternative-text="icon">
                                    </lightning-icon>
                                </template>
                                <template if:true={clearIconFlagOwner}>
                                    <lightning-icon
                                            class="actm__icon slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                            icon-name="utility:clear"
                                            size="x-small"
                                            alternative-text="icon"
                                            onclick={resetOwner}
                                    ></lightning-icon>
                                    <span class="slds-assistive-text">Clear</span></button>
                                </template>
                                <lightning-input label=""
                                                 name="searchText"
                                                 data-id="userinput"
                                                 placeholder="Search advisor"
                                                 value={teamMemberName}
                                                 onchange={handleSearch}
                                                 disabled={reportNotSelected}>
                                </lightning-input>
                            </div>

                            <div id="listbox-id-3"
                                 class="actm__dropdown slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
                                 role="listbox">
                                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                    <template for:each={ownersList} for:item="user">
                                        <li role="presentation" class="slds-listbox__item" key={user.Id}>
                                            <div data-id={user.Id} data-name={user.Name} onclick={setSearchOwner}
                                                 class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                                                 role="option">
                                                <span class="slds-media__figure">
                                                    <span class="slds-icon_container slds-icon-standard-user">
                                                        <lightning-icon icon-name={iconUser}
                                                                        class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                                                        size="x-small"></lightning-icon>
                                                    </span>
                                                </span>
                                                <span class="slds-media__body">
                                                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">{user.Name}</span>
                                                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{User} • {user.Name}</span>
                                                </span>
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <div if:true={messageFlagOwner}>
                                {labels.NO_RESULTS}
                            </div>
                            <div if:true={ownerLoadingText}>
                                {labels.LOADING}
                            </div>
                        </div>
                    </div>

                    <lightning-dual-listbox name="roles"
                                            label={labels.rolesMultipicklist}
                                            source-label="Available"
                                            selected-label="Selected"
                                            field-level-help="Case Team Roles"
                                            options={teamRolesOptions}
                                            min={min}
                                            value={activeTeamRoles}
                                            disabled={disabled}
                                            onchange={handleChangeSelectRoles}></lightning-dual-listbox>
                    <div if:true={showRoleInput} class="slds-p-around_medium lgc-bg">
                        <lightning-input type="text" label={labels.roleLabelInput} value={caseTeamRoleLabel} data-id="roleInput" onchange={onRoleInputChange}></lightning-input>
                    </div>
                </div>
                </template>
                <template if:false={isReady}>
                    <c-lsb_spinner ></c-lsb_spinner>
                </template>

                <footer class="slds-modal__footer">
                    <div class="bottomBarLeft slds-col"></div>
                    <div class="bottomBarRight slds-col_bump-left slds-text-align_right" >
                        <lightning-button type="submit" label={labels.submitButton} variant="brand" onclick={handleSubmit} > </lightning-button>
                    </div>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>