.actm__body {
    position: relative;
    height: 35px;
}

.actm__input {
    font-size: 13px;
    margin: 6px 0;
}

.actm__input input {
    height: 32px;
    padding: 0 32px 0 12px;
}

.actm__icon {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 3;
}

.actm__dropdown {
    position: relative;
    top: 0;
}

.actm__button {
    position: absolute;
    right: 0;
}

.actm__footer {
    bottom: 0;
    font-size: 13px;
    margin-left: -16px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}