<template>
    <template if:true={componentReady}>
        <h2 class="header__small">{headerText}</h2>
        <div class="content">
            <template if:true={statusField}>
                <h3 class="details__header header__body">
                    {statusFieldLabel}
                </h3>
                <c-lsb_-progress-indicator field-api-name={statusField}
                                           object-api-name={objectApiName}
                                           record-type-developer-name={recordTypeDeveloperName}
                                           show-labels="true"
                                           show-status-definitions={showStatusDefinitions}
                                           current-value={status}
                                           has-warning={hasWarning}
                                           class="details__progress">
                </c-lsb_-progress-indicator>
                <div class="details__progress"></div>
            </template>
            <template for:each={recordDetails} for:item="field" for:index="fieldIndex">
                <template if:true={field.value}>
                    <div class="details" key={field.fieldNameOrPath}>
                        <h3 class="header__body">{field.label}</h3>
                        <template if:true={field.displayValue}>
                            <p class="details__description text__body">{field.displayValue}</p>
                        </template>
                        <template if:false={field.displayValue}>
                            <p class="details__description text__body">
                                <template if:true={field.isUrl}>
                                    <a target=_blank href={field.value}>{field.value}</a>
                                </template>
                                <template if:true={field.isTextArea}>
                                    <lightning-formatted-text value={field.value} linkify>
                                    </lightning-formatted-text>
                                </template>
                                <template if:true={field.isRichText}>
                                    <lightning-formatted-rich-text value={field.value}>
                                    </lightning-formatted-rich-text>
                                </template>
                                <template if:true={field.isOther}>
                                    {field.value}
                                </template>
                            </p>
                        </template>
                    </div>
                </template>
            </template>
        </div>
    </template>
</template>