.content .details {
    margin-top: 32px;
}

.details__progress + .details {
    margin-top: 64px;
}

.details__header {
    margin-bottom: 16px;
}

.details__description {
    margin-top: 4px;
}

@media screen and (max-width: 48em) {

    .details__description {
        margin-top: 0;
    }
}